.navbar {
  position: fixed;
  margin-bottom: 0!important;
  padding-right: 2em;

}

@font-face {

  font-family: "DIN-Light";
  src: url(../fonts/DIN-Light.otf);

}

@font-face {

  font-family: "DINNeuzeitGroteskStd-Light";
  src: url(../fonts/DINNeuzeitGroteskStd-Light.otf);

}

#wrap{

	position:fixed;;
	z-index:-1;
	top:0;
	left:0;
	background-color:black
}

#wrap img.bgfade{

	position:absolute;
	top:0;
	display:none;
	width:100%;
	height:100%;
	z-index:-1

}

.home-bottom {

  bottom: 30px;
  position:absolute !important;
  text-align:center;

}

.home-logo {

  bottom: 40%;
  position:absolute !important;
  text-align:center !important;

}

.orobix-logo-menu {
  padding-left:10px;
  margin: 10px;
  max-width: 90px;

}

.img-logo {

  float: initial !important;

}

img.background-home {
  height: 100%;
  min-height: 300px;
}

img.background-home.background-home-left {
  position: absolute;
}

img.background-home.background-home-right {
  position: absolute;
  right: 0;
}

.main-content {
  padding-top: 58px;
}

.main-content,
.main-content > div {
  height: 100%;
  text-align: center;
}

.main-content p.branch {
  margin-top: 10px;
}

.branch-head {
  height: 100%;
  padding-top: 58;
}

.branch-head > .top {
  height: 65%;
  background-color: #f1f1f1;
  /*background: url(../img/target_customers.png) 50% 50% no-repeat;*/
}

.branch-head > .bottom {
  height: 35%;
  min-height: 220px;
}

.branch-link {
  bottom: 55%;
  position: absolute;
  width: 100%;
  z-index: 10;
}

.branch-link a {
  font-family: "DINNeuzeitGroteskStd-Light";
  color: #7d7d7d;
}

.branch-link a:hover {
  text-decoration: none;
  color: #7d7d7d;
  opacity: .7;
}

.branch-link-right {
  text-align: right;
}

.branch-link-right img {
  transform: rotate(-90deg);
  -ms-transform: rotate(-90deg); /* IE 9 */
  -webkit-transform: rotate(-90deg); /* Opera, Chrome, and Safari */
}

.branch-link-left img {
  transform: rotate(90deg);
  -ms-transform: rotate(90deg); /* IE 9 */
  -webkit-transform: rotate(90deg); /* Opera, Chrome, and Safari */
}

.branch-link-left a,
.branch-link-right a {
  display: block;
}

.branch-link-left a > *,
.branch-link-right a > * {
  display: inline-block;
  vertical-align: middle;
  margin: 0;
  line-height: 1;
  cursor: pointer;
}

.branch-link-left a > p,
.branch-link-right a > p {
  margin-left: -10px;
  margin-right: -10px;
}

.branch-content {
  text-align: center;
}

.branch-name {
  font-family: "DINNeuzeitGroteskStd-Light";
  color: #7d7d7d;
}

.branch-title {
  font-family: "DIN-Light";
  color: #000000;
  margin-top: 10px;
}

.branch-description {
  font-family: "DIN-Light";
  color: #000000;
  line-height: 1;
}

.branch-image {
  position: absolute;
  bottom: 20%;
  width: 100%;
  text-align: -webkit-center;
}

.branch-image img {
  height: 50%;
  /*max-height: 370px;*/
}

.pt-page-2 .bottom,
.pt-page-5 .bottom > div {
  text-align: center;
  position: absolute;
  bottom: 10;
  cursor: pointer;
}

.pt-page-2 .bottom {
  width: 100%;
}

.pt-page-5 .bottom > div:hover {
  opacity: .7;
}

.pt-page-5 .bottom > div:not(:last-child) {
  border-right: 1px dotted #898989;
}

.pt-page-5 .bottom > div > img {
  width: 50px;
}

.branch-detail-title {
  font-family: "DIN-Light";
  color: #000000;
  margin-top: 0;
  text-align: center;
}

.branch-detail-link {
  font-family: "DINNeuzeitGroteskStd-Light";
  color: #898989;
}

.branch-detail-link p {
  margin: 0;
}

.branch-content {
  height: 100%;
  font-family: "DIN-Light";
  color: #000000;
}

.branch-content-1 {
  text-align: left;
  line-height: 1;
}

.branch-content-1 > div {
  top: 25%;
}

.branch-content-1 .link {
  text-decoration: none;
}

.branch-content-1 .link:hover {
  color: #ffffff;
  opacity: .7;
}

.branch-content-1 .link .name {
  margin-bottom: 0;
}

.branch-content-1 .link .name, 
.branch-content-1 .description h3 {
  font-family: "DINNeuzeitGroteskStd-Light";
  color: #ffffff;
}

.branch-content-1 .link .role,
.branch-content-1 .description p {
  font-family: "DIN-Light";
  color: #ffffff;
}

.branch-content .branch-section-icon {
  margin-top: 10px;
}

.pt-page-5 .branch-content-1 {
  background: url(../img/b3-content1.jpg) no-repeat;
  background-size: contain;
  background-position: left bottom;
  background-color: #000000;
}

.pt-page-5 .branch-content-2 {
  background: url(../img/b3-content2.jpg) no-repeat;
  /*background-size: cover;*/
  background-size: 100% 80%;
  background-position: left bottom;
  background-color: #ffffff;
}

.branch-content-footer {
  text-align: center;
  height: 50%;
  font-family: "DIN-Light";
  color: #000000;
}

.branch-content-footer .products {
  font-family: "DINNeuzeitGroteskStd-Light";
  color: #898989;
  margin-top: 40px;
  margin-bottom: 30px;
}

.branch-content-footer .products .branch-detail-icon {
  height: 150px;
}

.branch-content-footer .products .branch-detail-link img {
  transform: rotate(-90deg);
  -ms-transform: rotate(-90deg); /* IE 9 */
  -webkit-transform: rotate(-90deg); /* Opera, Chrome, and Safari */
  height: 10px;
}
