.main-content {
  height: 100%;
}

.navbar {
  position: relative!important;
  padding-right: 2em;

}

.centercontents {

	text-align: center !important;

}

@font-face {

  font-family: "DIN-Light";
  src: url(../fonts/DIN-Light.otf);

}

@font-face {

  font-family: "DINNeuzeitGroteskStd-Light";
  src: url(../fonts/DINNeuzeitGroteskStd-Light.otf);

}

#wrap{

	position:fixed;;
	z-index:-1;
	top:0;
	left:0;
	background-color:black
}

#wrap img.bgfade{

	position:absolute;
	top:0;
	display:none;
	width:100%;
	height:100%;
	z-index:-1

}

.home-bottom {

  bottom: 30px;
  position:absolute !important;
  text-align:center;

}

.home-logo {

  bottom: 40%;
  position:absolute !important;
  text-align:center !important;

}

.orobix-logo-menu {
  padding-left:10px;
  margin: 10px;
  max-width: 90px;

}

.img-logo {

  float: initial !important;

}

img.background-home {
  height: 100%;
  min-height: 300px;
}

img.background-home.background-home-left {
  position: absolute;
}

img.background-home.background-home-right {
  position: absolute;
  right: 0;
}

.branch-head {
  height: 100%;
}

.branch-head > .top {
  height: 70%;
  background-color: #f1f1f1;
}

.branch-head > .bottom {
  height: 30%;
}

.branch-link {
  bottom: 60%;
  position: absolute;
  width: 100%;
}

.branch-link a {
  font-family: "DINNeuzeitGroteskStd-Light";
  color: #7d7d7d;
}

.branch-link a:hover {
  text-decoration: none;
  color: darken(#7d7d7d, 10);
}

.branch-link-right {
  text-align: right;
}

.branch-content {
  text-align: center;
}

.branch-name {
  font-family: "DINNeuzeitGroteskStd-Light";
  color: #7d7d7d;
}

.branch-title {
  font-family: "DIN-Light";
  color: #000000;
}

.branch-description {
  font-family: "DIN-Light";
  color: #000000;
}

.branch-image {
  text-align: -webkit-center;
}

.branch-image img {
  max-height: 75%;
}

.bottom > div {
  text-align: center;
}

.branch-detail-title {
  font-family: "DIN-Light";
  color: #000000;
  margin-top: 0;
  text-align: center;
}

.branch-detail-link {
  font-family: "DINNeuzeitGroteskStd-Light";
  color: #898989;
}
