html, body {
  padding-top: 25px;
  overflow-x: hidden;
}

a.discover {
  color: #FFFFFF;
}

a:hover, a:focus, a:visited {
  text-decoration: none;
}

/* FONTS */

@font-face {
    font-family: 'DIN-Light';
    src: url('../fonts/dinnn-light-webfont.eot');
    src: url('../fonts/dinnn-light-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/dinnn-light-webfont.woff') format('woff'),
         url('../fonts/dinnn-light-webfont.ttf') format('truetype'),
         url('../fonts/dinnn-light-webfont.svg#din_lightregular') format('svg');
    font-weight: normal;
    font-style: normal;
    letter-spacing: -1px;
}

/* PARAGRAPHS */

.branch-description-main-header{
  font-family: "DIN-Light";
  color: #000000;
  font-size: 1.7vw;
  margin-bottom: 20px;
  letter-spacing: -1px;
  line-height: 1.5;
}

.branch-description-bottom-header{
  font-family: "DIN-Light";
  color: #000000;
  font-size: 1.7vw;
  margin-bottom: 5%;
  letter-spacing: -1px;
  line-height: 1.5;
}

.branch-description-header{
  font-family: "DIN-Light";
  color: #000000;
  font-size: 1.7vw;
  margin-bottom: 10px;
  letter-spacing: -1px;
  line-height: 1.5;
}

.branch-description-header-2{
  font-family: "DIN-Light";
  color: #000000;
  font-size: 1.7vw;
  margin-top: 10px;
  margin-bottom:6%;
  letter-spacing: -1px;
  line-height: 1.5;
}

.branch-description-white-header{
  font-family: "DIN-Light";
  color: #FFFFFF;
  font-size: 1.7vw;
  margin-bottom: 20px;
  letter-spacing: -1px;
  line-height: 1.5;
}

.branch-description-white-header-2{
  font-family: "DIN-Light";
  color: #FFFFFF;
  font-size: 1.7vw;
  margin-top: 10px;
  margin-bottom:3%;
  letter-spacing: -1px;
  line-height: 1.5;
}

.branch-description-white{
  font-family: "DIN-Light";
  color: #FFFFFF;
  font-size: 35px;
  margin-top: 20px;
  margin-bottom: 20px;
  letter-spacing: -1px;
  line-height: 1.3;
}

.branch-description-product{
  font-family: "DIN-Light";
  color: #000000;
  font-size: 25px;
  margin-top: 30px;
  margin-bottom: 30px;
  letter-spacing: -1px;
  line-height: 1.3;
}

.branch-description-black{
  font-family: "DIN-Light";
  color: #000000;
  font-size: 35px;
  margin-top: 20px;
  margin-bottom: 20px;
  letter-spacing: -1px;
  line-height: 1.3;
}

.branch-title {
  font-family: "DIN-Light";
  color: #000000;
  font-size: 65px;
  margin-top: 5px;
  letter-spacing: -3px;
}

.branch-title-grey {
  font-family: "DIN-Light";
  color: grey;
  font-size: 65px;
  letter-spacing: -3px;
  margin-top: 70px;
}

.branch-description-list {
  font-family: "DIN-Light";
  color: #000000;
  font-size: 1.2vw;
  margin-top: 8px;
  margin-bottom: 8px;
  letter-spacing: -1px;
  line-height: 1.3;
}

.branch-description {
  font-family: "DIN-Light";
  color: #000000;
  font-size: 30px;
  margin-top: 20px;
  margin-bottom: 20px;
  padding-left: 20px;
  padding-right: 20px;
  letter-spacing: -1px;
  line-height: 1.3;
}

.separator-div {
  background: url(../img/separator.gif) no-repeat center center;
  height: 2px;
  /*background-position: 0 200px;
  background-color: #ffffff;*/
  -pie-background: url(../img/separator.gif) no-repeat; /*ie 6-9 via PIE*/
}

.separator-div-projects {
  background: url(../img/separator2.png) no-repeat center center;
  height: 2px;
  /*background-position: 0 200px;
  background-color: #ffffff;*/
  -pie-background: url(../img/separator2.png) no-repeat; /*ie 6-9 via PIE*/
  margin-top: 2%;
}

/* NAVBAR */

.orobix-logo-menu {
  margin-top: 5px;
}

.navbar {
  position: fixed;
  margin-bottom: 0;
  font-family: 'DIN-Light';
  font-weight: 500;
  font-size: 18px;
  color: #000000;
  letter-spacing: -1px;
}

.navbar * {
  color: #000000;
}

.navbar-default .navbar-nav>li.active-li>a {
  color: #000000;
}

.container-navbar {
  margin-left: 10px;
  margin-right: 10px;
}

/* INDEX */

.row-main {
  height: 100%;
}

.home-logo {
  position: absolute;
  width: 100%;
  text-align:center;
  behavior: url(css/PIE.htc);  /*ie 6-9 via PIE*/
  top: 20%;
  z-index: 2;
}

.home-background {
  position: static;
  height: 50%;
}

img.background-home {
  max-width: 42%;
  height: auto;
}

img.background-home {
  height: 90%;
  min-height: 300px;
  margin-top: 25px;
  margin-bottom: 25px;
  -webkit-transition: opacity 1s ease-in-out;
  -moz-transition: opacity 1s ease-in-out;
  -o-transition: opacity 1s ease-in-out;
  transition: opacity 1s ease-in-out;
  behavior: url(css/PIE.htc);  /*ie 6-9 via PIE*/
}

img.background-home.background-home-left {
  position: absolute;
}

img.background-home.background-home-right {
  position: absolute;
  right: 0;
}

.branch-description-home {
  font-family: "DIN-Light";
  color: #000000;
  font-size: 30px;
  margin-top: 20px;
  margin-bottom: 20px;
  letter-spacing: -1px;
  line-height: 1.5;
  font-weight: 500;
}

.btn-home {
  background-color: white;
  padding-top: 15px;
  padding-bottom: 15px;
  padding-left: 60px;
  padding-right: 60px;
  font-family: "DIN-Light";
  background-image: none;
  text-shadow: none;
  border-color: none;
  font-size: 22px;
  margin-top: 20px;
  margin-bottom: 70px;
}

.btn-home:hover {
  background-color: black;
  color: white;
}

/* WHAT-WE-DO */

.main-content-responsive {
  text-align: center;
}

.eng-background {
  background-image: url("../img/what-we-do/engineering.jpg");
  background-size: cover;
  background-position: 50% 0px ;
  background-repeat: no-repeat;
}

.thumbnail-what-we-do {
  background-color: transparent;
  border: 0px;
}

.thumbnail {
  border: 0px solid;
  border-radius: 0px;
  -webkit-transition none;
  transition: none;
  box-shadow: none;
  -webkit-box-shadow: none;
}

.caption-what-we-do {
  background-color: #000;
  width: 60%;
  margin-left: 19.5%;
}

.apple-menu-01 {
  width: 60%;
  opacity: 0.7 ;
}

.apple-menu-02 {
  width: 60%;
  opacity: 0.45;
}

.apple-menu-03 {
  width: 60%;
  opacity: 0.5;
}

.apple-white-branch{
  font-family: "DIN-Light";
  color: #FFFFFF;
  font-size: 1.5vw;
  margin-top: 10px;
  margin-bottom: 10px;
  letter-spacing: -1px;
  line-height: 1.3;
}

.discover-white{
  margin-bottom: 5px;
  text-decoration: none;
  color: #898989;
  font-family: "DIN-Light";
}

.what-sections {
  margin-top:5%;
}

/* HOW-WE-WORK */

.how-background {
  background-image: url("../img/how-we-work/how-we-work.jpg");
  background-size: cover;
  background-position: 50% 0px ;
  background-repeat: no-repeat;
}

#how-container {
  margin-bottom: 40px;
}

.branch-title-grey-content-how {
  font-family: "DIN-Light";
  color: grey;
  font-size: 65px;
  letter-spacing: -3px;
  margin-top: 5%;
}

.branch-title-grey-how {
  font-family: "DIN-Light";
  color: grey;
  font-size: 45px;
  letter-spacing: -3px;
  margin-top: 5%;
}

.how-details {
  margin-top: 40px;
  text-align: justify;
  text-justify: inter-word;
  width: 80%;
}

/* SPINOUTS */

#spin-outs-header {
  height: 100%;
}

.spin-background {
  background-image: url("../img/spinouts/spin.jpg");
  background-size: cover;
  background-position: 50% 0px;
  background-repeat: no-repeat;
  height: 550px;
}

.spin-header-p {
  margin-top: 15%;
}

.branch-title-grey-content-spinouts {
  font-family: "DIN-Light";
  color: grey;
  font-size: 65px;
  letter-spacing: -3px;
  margin-top: 70px;
}

#deepray-container {
  height: 100%;
}

#vmtklab-container {
  height: 100%;
}

#invariant-container {
  height: 100%;
}

#spin-outs-header {
  height: 100%;
}

#spin-out-box {
  height: 750px;
}

.deepray {
  height: 100%;
  background-image: url("../img/spinouts/deep_ray_background.jpg");
  background-size: cover;
  background-position: 50% 0px ;
  background-repeat: no-repeat;
  -pie-background: url(../img/spinouts/deep_ray_background.jpg) no-repeat; /*ie 6-9 via PIE*/
}

.vmtklab {
  height: 100%;
  background-image: url("../img/spinouts/vmtklab_background.jpg");
  background-size: cover;
  background-position: 50% 0px ;
  background-repeat: no-repeat;
  -pie-background: url(../img/spinouts/vmtklab_background.jpg) no-repeat; /*ie 6-9 via PIE*/
}

.invariant {
  height: 100%;
  background-image: url("../img/spinouts/invariant_background.jpg");
  background-size: cover;
  background-position: 50% 0px ;
  background-repeat: no-repeat;
  -pie-background: url(../img/spinouts/invariant_background.jpg) no-repeat; /*ie 6-9 via PIE*/
}

#logo-products {
  margin-top: 70px;
}

.btn-products, .btn-products:visited {
  background-color: white;
  padding-top: 15px ;
  padding-bottom: 15px ;
  padding-left: 60px ;
  padding-right: 60px ;
  font-family: "DIN-Light" ;
  background-image: none ;
  text-shadow: none ;
  border-color: none ;
  font-size: 22px;
  color:grey;
  opacity: 0.7;
}

.btn-products:focus, .btn-products:hover {
  background-color: black;
  padding-top: 15px ;
  padding-bottom: 15px ;
  padding-left: 60px ;
  padding-right: 60px ;
  font-family: "DIN-Light" ;
  background-image: none ;
  text-shadow: none ;
  border-color: none ;
  font-size: 22px;
  color:white ;
}

/* TEAM */

.content-team {
  height: 100%;
}

#team-all {
  position:relative;
  height:100%;
  width: 100%;
  margin:0 auto;
}

#team-all img {
  left:0;
  padding: 0px;
  -webkit-transition: opacity 1s ease-in-out;
  -moz-transition: opacity 1s ease-in-out;
  -o-transition: opacity 1s ease-in-out;
  transition: opacity 1s ease-in-out;
}

#team-all img:first-child {
  position:absolute;
}

@keyframes cf3FadeInOut {
  0% {
    opacity:1;
  }
  45% {
    opacity:1;
  }
  55% {
    opacity:0;
  }
  100% {
    opacity:0;
  }
}

img.top {
  animation-name: cf3FadeInOut;
  animation-timing-function: ease-in-out;
  animation-iteration-count: infinite;
  animation-duration: 4s;
  animation-direction: alternate;
  -webkit-animation-name: cf3FadeInOut;
  -webkit-animation-timing-function: ease-in-out;
  -webkit-animation-iteration-count: infinite;
  -webkit-animation-duration: 10s;
  -webkit-animation-direction: alternate;
  behavior: url(css/PIE.htc);  /*ie 6-9 via PIE*/
}

.branch-head-team {
  padding-top: 30px;
  padding-bottom: 30px;
}

.branch-title-grey-team {
  font-family: "DIN-Light";
  color: grey;
  font-size: 65px;
  letter-spacing: -3px;
  margin-top: 5%;
}

.branch-content-team {
  width: 100%;
  z-index: 10;
  font-family: "DIN-Light";
  color: #000000;
  text-align: center;
  letter-spacing: -1px;
  margin: 0px;
  padding-bottom: 70px;
}

.branch-content-team-first {
  padding-top: 50px;
}

.team-text{
  text-align:left;
  margin-top: 5%;
  vertical-align: top;
}

.team-title {
  font-family: "DIN-Light";
  color: #000000;
  font-size: 50px;
  margin-top: 50px;
  letter-spacing: -1px
}

.team-title-bottom {
  font-family: "DIN-Light";
  color: #000000;
  font-size: 30px;
  letter-spacing: -1px;
  margin-top: 0px;
}

.team-name {
  font-family: "DIN-Light";
  color: #7d7d7d;
  font-size: 20px;
  letter-spacing: -1px
}

.team-description {
  font-family: "DIN-Light";
  color: #000000;
  font-size: 16px;
  letter-spacing: -1px;
  font-style: italic;
}

.team-description-bottom {
  font-family: "DIN-Light";
  color: #000000;
  font-size: 16px;
  letter-spacing: -1px
}

/* CUSTOMERS */

.thumbnail-partners {
  background-color: none;
}

.thumbnail-partners > img{
  width: 44%;
}

.main-content-partners-white {
  text-align: center;
  background-color: #ffffff;
  margin-top: 40px;
}

.branch-title-grey-customers {
  font-family: "DIN-Light";
  color: grey;
  font-size: 65px;
  letter-spacing: -3px;
  margin-top: 5%;
  margin-bottom: 5%;
}

.branch-title-grey-projects {
  font-family: "DIN-Light";
  color: grey;
  font-size: 65px;
  letter-spacing: -3px;
  margin-top: 8%;
  margin-bottom: 5%;
}

.row-customers {
  margin-bottom: 5%;
}

.main-content-projects-grey {
  text-align: center;
  background-color: #f1f1f1;
  background-image: url("../img/customers/project.jpg");
  background-size: cover;
  background-position: 50% 0px;
  background-repeat: no-repeat;
}

.branch-description-projects {
  font-family: "DIN-Light";
  color: #000000;
  font-size: 16px;
  line-height: 1.3;
  margin-top: 25px;
  letter-spacing: -1px
}

.separator-div-projects {
  background: url(../img/separator2.png) no-repeat center center;
  height: 2px;
  -pie-background: url(../img/separator2.png) no-repeat; /*ie 6-9 via PIE*/
  margin-top: 2%;
}

.row-last {
  margin-top: 3%;
  margin-bottom: 8%;
}

.row-projects {
  margin-top: 2%;
}

.row-projects > div {
  padding-right: 5px;
  padding-left: 5px;
}

/* FAQ */

/* CONTACT */

#location-contact {
  margin-bottom: 70px;
}

.contact-us-p > a {
  font-family: 'DIN-Light';
  color: #000000;
  font-size: 22px;
  letter-spacing: -1px;
}

.company-certification {
  background-color: #FFFFFF;
  margin-bottom: 70px;
}

.certification-row {
    display: flex;
    height: 177px;
}

.certification-row > img {
    max-height: 100%;
}

.certification-row > * {
    margin: auto;
}

.branch-description-contact {
  font-family: "DIN-Light";
  color: #000000;
  font-size: 22px;
  line-height: 1.3;
  margin-top: 25px;
  letter-spacing: -1px
}

.branch-description-left {
  font-family: "DIN-Light";
  color: #000000;
  font-size: 22px;
  letter-spacing: -1px;
  line-height: 1.3;
  text-align: left;
}

/* SOCIALS */

.socials {
  position: fixed;
  padding: 10px;
  bottom: 0;
  right: 0;
  z-index: 999999;
  margin-right: 10px;
}

.socials > * {
  margin-right: 10px;
  color: #89959B;
}

/* VAT */

#companyVAT {
  color: #898989;
  text-align: center;
  margin-top: 5px;
  margin-bottom: 5px;
  height: 25px;
}

#companyVAT > p {
  margin: 20px 0 0 0;
  font-family: "DIN-Light";
  font-size: 11px;
  text-align: center;
}

#disclaimerLink {
  font-size: 11px;
  font-family: "DIN-Light";
  color: #898989;
  letter-spacing: normal;
}

/* MOBILE */

/* Smartphones (portrait and landscape) ----------- */
@media only screen
and (max-device-width : 1030px) {

  /* NAVBAR */

  .navbar {
    font-size: 25px !important;
  }

  /* INDEX */
  .home-logo {
    position: static;
  }

  .home-background {
    position: static;
    height: 50%;
  }

  .background-home {
    max-width: 45%;
    height: auto !important;
  }

  /* WHAT-WE-DO */
  .branch-description
  {
    font-size: 35px !important;
    line-height: 1.1 !important;
  }
  .branch-description-white-header,
  .branch-description-white-header-2 {
    font-size: 30px !important;
  }

  .branch-description-list {
    font-size: 25px !important;
  }

  .apple-white-branch {
    font-size: 22px !important;
  }

  .discover-white {
    font-size: 18px !important;
  }



  /* HOW-WE-WORK */

  .branch-description-header,
  .branch-description-main-header,
  .branch-description-bottom-header,
  .branch-description-header-2 {
    font-size: 30px !important;
  }

  /* TEAM */

  .team-description {
    font-size: 25px !important;
  }
  .team-description-bottom {
    font-size: 30px !important;
  }
}

/* mobile navbar */
@media (max-width: 1030px) {
  .navbar-header {
      float: none;
  }
  .orobix-logo-menu {
    margin-top: 15px;
  }
  .navbar-toggle {
      display: block;
  }
  .navbar-collapse {
      border-top: 1px solid transparent;
      box-shadow: inset 0 1px 0 rgba(255,255,255,0.1);
  }
  .navbar-collapse.collapse {
      display: none!important;
  }
  .navbar-nav {
      float: none!important;
      /*font-size: 30px;*/
      margin: 7.5px 50px 7.5px -15px
  }
  .navbar-nav>li {
      float: none;
      margin: 10px;
  }
  .navbar-nav>li>a {
      padding-top: 10px;
      padding-bottom: 10px;
  }
  /* since 3.1.0 */
  .navbar-collapse.collapse.in {
      display: block!important;
  }
  .collapsing {
      overflow: hidden!important;
  }
}


@media only screen
and (max-device-width : 1030px)
and (orientation : landscape) {

  /*INDEX*/

  .home-logo {
    position: fixed;
  }

  .home-background {
    height: auto !important;
  }

  .background-home {
    max-width: 20%;
    height: auto !important;
  }

  img.background-home {
    max-width: 20%;
  }

  .home-logo {
    top: 50px;
  }

  .btn-home {
    margin-top: 0;
  }
}
