body {
    margin: 0px;
    padding: 0px;
    font-family: Arial, Helvetica, sans-serif;
}

a:link{
	text-decoration: none;
    color: #3E4191;	
}

a:visited{
	text-decoration: none;
    color: #3E4191;	
}

a:hover{
    color: red;
}

a:active{
    text-decoration: none;
}

.page_main {
    max-width: 1200px;
    min-width: 800px;
    padding: 0px 40px 0px 40px;
    margin: 0px auto;
}

.page_header {
    height: 100px;
    text-align: center;
    border-bottom: 1px solid #ddd;
}

.page_header_home {
    height: 89px;
    text-align: center;
}

/*.indexpage_header {
    height: 101px;
    text-align: center;
}*/

.headerlinkscontainer {
    height: 15px;
    text-align: left;
    font-size: 12px;
    margin-top: 3px;
    float: left;
}

.header_links {
    color: #3E4191;
    margin-left: 5px;
    margin-right: 3px;
}

.language_link_container {
    margin-top: 3px;
    text-align: right;
    float: right;
    font-size: 12px;
    color: #3E4191;
    cursor: pointer;
    width: 3%;
}

.page_header img{
    border: 0px;
    margin-top: 0px;
}

.page_body {
    position: relative;
    text-align: center;
    height: 465px;
}

/*.index_logo {
    margin-top:120px;
}*/

.logo_no_payoff {
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
    border: 0px;
}

.left_panel {
    text-align: left;
    width: 45%;
    color: #666666;
    float: left;
}

.contactus_panel {
    text-align: right;
    line-height: 16px;
    height: 360px;
    width: 45%;
    color: #666666;
    float: left;
}

.left_panel p{
    text-align: justify;
    font-size: 12px;
    color: #666666;
}

.right_panel {
    text-align: left;
    width: 45%;
    color: #666666;
    font-size: 12px;
    float: right;
}

.right_panel p {
    text-align: left;
}

.panel_title {
    height: 55px;
    text-align: right;
}

.panel_title img {
    margin-top: 39px;
}

.left_panel_title {
    height: 55px;
    text-align: right;
}

.left_panel_title img{
    margin-top: 39px;
}

.right_panel_title {
    height: 55px;
    text-align: right;
}

.right_panel_title img{
    margin-top: 39px;
}

.panel_line {
    border-top:1px solid #DDDDDD;
    height: 0px;
    width: 45%;
    margin-left: 55%;
}

.left_panel_line {
     border-top:1px solid #DDDDDD;
    height:0;
    margin-bottom: 20px;
}

.right_panel_line {
    border-top:1px solid #DDDDDD;
    height:0;
    margin-bottom: 20px;
}

.panel_content {
}

.panel {
    margin-left:3px;
    font-size: 12px;
}

.left_panel_content {
    margin-left:3px;
}

.right_panel_content {
}

/*.panel_whiteline {
    position: absolute;
    height: 0px;
    border-bottom: 1px solid red;
    top: 500px;
    z-index: 10;
}*/

/*.company_panel_subtitle {
    margin: 0px 0px 6px 0px;
    font-weight: bold;
    font-size: 13px;  
}*/

/*.left_panel_text{
    width: 480px;
    font-size: 12px;
}*/

/*.left_panel_text_title{
    font-size: 13px;
    font-weight: bold;
}*/

/*.company_panel_list {
    padding-left: 13px;
    font-weight: bold;
    width: 480px;
    margin: 20px 0px 0px 0px;
}*/

/*.company_panel_list li{
    font-size: 13px;
}*/

.logo_TUV_container {
    margin-top: -20px;
}

.logo_TUV_container p{
    text-align: center;
    float: center;
}

.person_container {
    height: 100px;
    margin: 0px 0px 20px 0px;
}

/*.TOP_picture {
    border: 1px solid #CCCCCC;
    float: left;
    margin-right: 20px;
}*/

.par_container {
    height: 80px;
    margin: 0px 0px 0px 0px;
}

.par_title {
    margin: 0px 0px 0px 0px;
    font-weight: bold;
    font-size: 14px;
}

/*.par_title2 {
    margin: 0px 0px 0px 0px;
    font-weight: bold;
    font-size: 14px;
}*/

.par_text {
    margin: 0px 0px 0px 0px;
    font-size: 12px;
}

.TOP_name {
    padding-top: 5px;
    margin: 0px 0px 0px 0px;
    font-weight: bold;
    font-size: 14px;
}

.job_title {
    margin: 0px 0px 0px 0px;
    font-weight: bold;
    font-size: 12px;
}

.person_description {
    margin: 0px 0px 0px 0px;
    font-size: 12px;
}


.contactus_minititle {
    font-size: 14px;
    height: 15px:
    font-weight: bold;
    color: #9a9a9a;
}

.contactus_textinfo {
    margin-bottom: 10px;
    font-size: 12px;
    color: #666666;
}

.contactus_textinfo_right {
    width: 35%;
    float: right;
    margin: 0px 0px 10px 5%;
    font-size: 12px;
    color: #666666;
}

.contactus_textinfo_right p{
    margin-top: 0;
    text-align: right;
}

.contactus_textinfo_left {
    text-align: left;    
    width: 60%;
    float: left;
    font-size: 12px;
    font-weight: normal;
    color: #666666;
    margin: 0px 0px 10px;
}

.contactus_textinfo_left p{
    text-align: left;
}

/*.kmRossoLogo {
    border: 0px;
    margin: 5px 0px 0px 0px;
}*/


.disclaimer {
    font-weight: bold;
    font-size: 14px;
}

.twitter_link {
}

.twitter_link img{
    border: 0px;
    margin-bottom: 10px;
}

.home_info {
	color: #999999;
	font-size: 8px;
    height: 10px;
}

.title {
	color:#9A9A9A;
	font-family: Arial, Helvetica, sans-serif;
	font-size:14px;
	font-style:normal;
	font-weight:bold;
	line-height:19px;
	text-decoration:none;
	text-align:right;
	margin-top:-15px;
	margin-right:20px;
}

.certification_info_container {
    height: 150px;
}

.certificate_container {
    text-align: center;
    height: 350px;
}

.certificate_container p{
    text-align: center;
}

.company_certificate {
    border: 0px;
    margin: 15px 0px 0px 0px;
}

.page_footer {
    background-color: white;
    margin-top: 10px;
    margin-bottom: 10px;
    text-align: center;
    height: 60px;
}

.menuitem {
    float: left;
    font-size: 14px;
    font-weight: bold;
    text-align: left;
    width: 20%;
    margin-right: 8%;
    margin-bottom: 10px;
}

.menuitem_last {
    float: right;
    font-size: 14px;
    font-weight: bold;
    text-align: left;
    width: 16%;
    margin-right: 0px;
    margin-bottom: 10px;
}

h3 {
    color: #666666;
    font-size: 12px;
    font-weight: normal;
    margin: 0px 0px 0px 0px;
}

p {
    line-height: 15px;
    font-size: 12px;
    font-weight: normal;
    text-align: center;
}

.logo_TUV img {
    border: 0px;
}

.map_container {
    width: 45%;
    float: right;
    text-align: left;
    margin-top: -10px;
}

.click_link {
}

.contentdiv {
    text-align: justify;
    padding: 20px;
}

.minititle {
    font-size: 14px;
    height: 15px:
    font-weight: bold;
    color: #9a9a9a;
}

.minisubtitle {
    font-size: 13px;
    height: 15px:
    font-weight: bold;
    color: #9a9a9a;
}

.textinfo {
    font-size: 12px;
    font-weight: normal;
    color: #666666;
    text-align: justify;
}

.textinfo p{
    text-align: justify;
}

#ticker ul{
    font-size: 12px;
    font-weight: normal;
    color: #666666;
    height:2em;
    overflow-y:hidden;
    list-style-type: none;
}

#ticker li {
	height: 2em;
}

.tweet_list {
  padding-left:0px;
}

.tweet_list li a {
  text-decoration:underline;
}

/*.newsbanner {
    position: absolute;
    top: 0px;
    left: 10%;
    width: 80%;
    text-align: center;
    visible: none;
    color: #3E4191; 
    font-size: 13px;
}*/

/*newsbanner a:hover{
    color: red;
}*/

/*index_logo*/
img[alt="Orobix_home"]{
    margin-top:95px;
}

#line_header{
    border-bottom: 1px solid #ddd;
}

/*img[title="title"]{
    margin-top: -20px;
    height: 20px;
    text-align: right;
    float: right;
}/*/

img[title="panel_title"]{
    margin-top: 38px;
    height: 20px;
    text-align: right;
    float: right;
}

/*#line{
    margin-top: 30px;
    border-bottom:1px solid #DDDDDD;
    height: 0px;
    width: 45%;
    margin-left: 55%;
}/*/

#line_left{
    margin-top: 0px;
    border-bottom:1px solid #DDDDDD;
    height:0px;
    width: 100%;
    margin-bottom: 20px;
}

/*#line_map{
    margin-top: 60px;
    border-bottom:1px solid #DDDDDD;
    height:0px;
    width: 100%;
}*/

.left_panel_title p{
    text-align: right;
}

/*person*/
img[title="TOP_picture"]{
    border: 1px solid #CCCCCC;
    float: left;
    margin-right: 20px;
    width:100;
    height:100;
}

#intro {
    margin-top:45px;
    margin-left:auto;
    margin-right:auto;
    font-size:16px;
    color:#666666
}

.content_height{
   height: 465px;
}

.tweetcontainer{
   position: absolute;
   width: 100%; 
   z-index: 10;
}
