@charset "utf-8";
/* CSS Document */

@font-face {
  font-family: Myriad;
  font-weight: normal;
  src: url("../font/MYRIADPRO-REGULAR.OTF");
}

@font-face {
  font-family: Myriad;
  font-weight: bold;
  src: url("../font/MYRIADPRO-BOLD.OTF");
}

* {
	margin: 0;
	padding: 0;
	border: 0;
	font: inherit;
}

ol, ul {
	list-style: none;
}

table {
	border-collapse: collapse;
	border-spacing: 0;
}

h1 {
	font-size:25px;
	font-weight:bold;
}

h2 {
	font-size:20px;
	margin-bottom:10px;
}

h3 {
	font-size:12px;
	font-weight:bold;
}

b 
{
    font-weight:bold;
}

/* stili sito */

a:link, a:visited, a:active {
	color:#b81168;
	text-decoration:none;
}

a:hover {
	text-decoration:underline;
}

body {
	width:100%;
	height:100%;
	margin:0px;
	padding:0px;
	font-family:Myriad;
	color:#5a5a5a;
	font-size:15px;
}

#mainheader {
	width:100%;
	height:400px;
	text-align:center;
}

#header {
	width:863px;
	height:100%;
	margin:0 auto 0 auto;
	position:relative;
	border-bottom: 1px solid #dedede;
}

#top {
	width:863px;
	height:52px;
	border-bottom: 1px solid #dedede;
	text-align:left;
}



#orobix {
	width:60px;
	float:left;
	margin-top: 20px;
}

#ieo {
	width:123px;
	float:right;
	margin-top: 20px;
}

#contentheader {
	margin-top:20px;
}

#logo, #video {
	width:50%;
	float:left;
}

#logo {
	text-align:left;
	margin-top:40px;
}

#video {
	text-align:right;
}



#MainContent {
	width:100%;
	height:auto;
	background:url(../img/bg_content.png) repeat-x transparent;
}

#content {
	width:863px;
	height:100%;
	margin:0 auto 0 auto;
	padding:20px 0;
}

#textleft {
	width:80%;
	float:left;
}

#text1 {
	border-bottom: 1px solid #dedede;
}

#text2 {
	margin-top:30px;
}

#text2 h2 {
	margin-bottom:30px;
}

#imgright {
	width:20%;
	float:right;
	text-align:right;
}

#imgright img {
	margin-bottom:20px;
}

#content ul {
	margin:10px 0 10px 40px;
	padding:0px;
}

#content li {
	list-style-image:url(../img/point.png);
	list-style-position: center;
	font-size:17px;
	margin:20px 0;
}

#content hr {
	height:1px;
	width:100%;
	background-color:#dedede;
	margin:0px;
	border:0px;
	clear:both;
}

#content .left, #content .right {
	margin:20px 0 20px 0;
}

#content .left {
	width:48%;
	float:left;
	padding-right:10px;
	font-size:12px;
	line-height:35px;
}

#content .left .cit {
	font-family:Georgia, "Times New Roman", Times, serif;
	font-style:italic;
	font-size:20px;
	margin-bottom:10px;
}

#content .right {
	width:48%;
	float:right;
	padding-left:10px;
	line-height:24px;
	text-align:justify;
}

#screenshots {
	margin-top:20px;
}

#screenshots img {
	margin-right:13px;
}

#screenshots .last {
	margin:0px;
}

.pink {
	color:#b81168;
}

#MainFooter {
	background-color:#adadad;
	width:100%;
	height:80px;
}

#footer {
	width:863px;
	margin:0 auto 0 auto;
	position:relative;
	font-size:12px;
	padding-top:12px;
	color:#1a171b;
}

#FooterText {
	position:absolute;
	width:470px;
	left:238px;	
}

#FooterLeft {
	width:38%;
	float:left;
	margin-top:10px;
}

#FooterRight {
	width:58%;
	float:left;
	margin-top:10px;
}

.small1 {
  font-size: 15px;
}

.small2 {
  font-size: 13px;
}

.small3 {
  font-size: 10px;
}

.spacedText {
  margin-top: 20px;
}
