---
layout: default
---


{% include navbar.html %}

<div class="main-content-responsive">

  <div class="row">
    <img class="img-responsive col-xs-12" src="img/contact/contact_3.jpg">
  </div>

  <div class="row">

    <h2 class="branch-title-grey">Contact us</h2>

    <div id="location-contact" class="col-sm-10 col-sm-offset-1 col-lg-10 col-lg-offset-1">
      <p class="branch-description">HQs are in via Gabriele Camozzi, 144 - 24121 Bergamo - Italy<br>+39 035.0170561 +39 035.0273786</p>

      <p class="contact-us-p">
        <a href="mailto:info@orobix.com"><i class="fa fa-envelope"></i>&nbsp; Send an email</a>
        &nbsp;&nbsp;&nbsp;&nbsp;
        <a href="https://www.google.com/maps/place/Via+Gabriele+Camozzi,+144/@45.6976947,9.6768529,17z/data=!3m1!4b1!4m2!3m1!1s0x4781511be89902cb:0x2e5898646677d191" target="_blank">
        <i class="fa fa-globe"></i>&nbsp; See on map</a>
      </p>
    </div>
  </div>

  <div class="row">
    <img class="img-responsive col-xs-12" src="img/contact/contact_2.jpg">
  </div>

  <div class="row company-certification">
    <h4 class="branch-title-grey">Company certification</h4>

    <div class="col-sm-10 col-sm-offset-1 col-lg-10 col-lg-offset-1">
      <p class="branch-description-contact">OROBIX is ISO 9001:2008 certified since 2010 and ISO 13485:2003/2012 (Medical devices) certified since 2015.<br>
        We strongly believe that a daily commitment in monitoring and improving the quality of our processes has a direct effect on our reliability towards our customers.</p>
        <br><br>
    </div>

    <div class="col-sm-4 col-sm-offset-2 col-lg-1 col-lg-offset-5">
      <img class="img-responsive" src="img/contact/tuv.png">
    </div>

    <div class="col-sm-4 col-lg-4">
      <p class="branch-description-left">certificate numbers:<br>ISO 9001:2008: 50 100 9730, <br>ISO 13485:2012: Q1N 15 07 9247 001, <br>ISO 13485:2003 CMDR: Q1N 15 07 9247 002</p>
    </div>

  </div>


</div>  <!-- END MAIN CONTENT -->

{% include socials.html %}
{% include vat.html %}
