---
layout: default
---


{% include navbar.html %}

<div class="main-content-responsive">

  <div class="row">
    <img class="img-responsive col-xs-12" src="img/contact/contact_3.jpg">
  </div>

  <div class="row">

    <h2 class="branch-title-grey">Contact us</h2>

    <div id="location-contact" class="col-sm-10 col-sm-offset-1 col-lg-10 col-lg-offset-1">
      <p class="branch-description">HQs are in via Gabriele Camozzi, 144 - 24121 Bergamo - Italy<br>+39 035.0170561 +39 035.0273786</p>

      <p class="contact-us-p">
        <a href="mailto:info@orobix.com"><i class="fa fa-envelope"></i>&nbsp; Send an email</a>
        &nbsp;&nbsp;&nbsp;&nbsp;
        <a href="https://www.google.com/maps/place/Via+G.+Camozzi,+144,+24121+Bergamo+BG/@45.6977016,9.6747855,17z/data=!3m1!4b1!4m5!3m4!1s0x4781511be929709f:0x9e6ffaebbb1600b4!8m2!3d45.6976979!4d9.6769795" target="_blank">
        <i class="fa fa-globe"></i>&nbsp; See on map</a>
      </p>
    </div>
  </div>

  <div class="row">
    <img class="img-responsive col-xs-12" src="img/contact/contact_2.jpg">
  </div>

  <div class="row company-certification">
    <h4 class="branch-title-grey">Company certification</h4>

    <div class="col-sm-10 col-sm-offset-1 col-lg-10 col-lg-offset-1">
      <p class="branch-description-contact">OROBIX is ISO 9001:2015 certified since 2010 and ISO 13485:2016 (Medical devices) certified since 2015.<br>
        We strongly believe that a daily commitment in monitoring and improving the quality of our processes has a direct effect on our reliability towards our customers.</p>
        <br><br>
    </div>

    <div class="col-sm-4 col-sm-offset-2 col-lg-1 col-lg-offset-5 certification-row">
      <img class="img-responsive" src="img/contact/tuv.png">
    </div>

    <div class="col-sm-4 col-lg-4 certification-row">
      <p class="branch-description-left">certificate numbers:<br>ISO 9001:2015: 50 100 9730 - Rev. 004, <br>ISO 13485:2016: Q5 092247 0004 Rev. 00<br>
      ISO 13485:2016 (MDSAP-certificate for Health Canada, USA FDA) QS6 092247 0005 Rev. 00</p>
    </div>

  </div>


</div>  <!-- END MAIN CONTENT -->

{% include socials.html %}
{% include vat.html %}
