---
layout: default
---


{% include navbar.html %}

<div class="main-content-responsive">

  <div class="container-fluid">
    <h2 class="branch-title-grey">Partners</h2>

    <div class="row">

      <div class="col-xs-12 col-sm-5">
        <a href="http://www.rescale.com" target="_blank">
          <div class="thumbnail thumbnail-partners">
            <img src="img/09_clients/logo_Rescale.jpg" alt="Rescale">
            <div class="caption">
              <p class="branch-description-thumbnails">Rescale is the leading turn-key platform for running high performance computing and simulations in the enterprise.
                From engineering design to scientific computing and machine learning - scalable, secure, and on-demand HPC to deliver better results faster.</p>
            </div>
          </div>
        </a>
      </div>


      <div class="col-xs-12 col-sm-5 col-sm-offset-2">
        <a href="http://www.eidosolutions.it" target="_blank">
          <div class="thumbnail thumbnail-partners">
            <img src="img/09_clients/logo_Eidosolutions.jpg" alt="Eidosolutions">
            <div class="caption">
              <p class="branch-description-thumbnails">
                Eidosolutions designs and manufacturs X-ray equipments of various sizes and shapes based on the type of object that the customer must inspect;
                the choice of X-ray source and sensor is crucial for achieving good quality of the radioscopic images displayed.
              </p>
            </div>
          </div>
        </a>
      </div>

    </div>


  </div> <!--END CONTAINER -->


</div>  <!-- END MAIN CONTENT -->

{% include socials.html %}
{% include vat.html %}
