---
layout: default
---


{% include navbar.html %}

<div class="main-content-responsive">

  <div class="container-fluid">
    <h2 class="branch-title-grey">Partners</h2>

    <div class="container">

      <div class="col-xs-12 col-sm-5">
        <a href="http://www.rescale.com" target="_blank">
          <div class="thumbnail thumbnail-partners">
            <img src="img/customers/logo_Rescale.jpg" alt="Rescale">
            <div class="caption">
              <p class="branch-description-thumbnails">Rescale is the leading turn-key platform for running high performance computing and simulations in the enterprise.
                From engineering design to scientific computing and machine learning - scalable, secure, and on-demand HPC to deliver better results faster.</p>
            </div>
          </div>
        </a>
      </div>


      <div class="col-xs-12 col-sm-5 col-sm-offset-2">
        <a href="http://www.eidosolutions.it" target="_blank">
          <div class="thumbnail thumbnail-partners">
            <img src="img/customers/logo_Eidosolutions.jpg" alt="Eidosolutions">
            <div class="caption">
              <p class="branch-description-thumbnails">
                Eidosolutions designs and manufacturs X-ray equipments of various sizes and shapes based on the type of object that the customer must inspect;
                the choice of X-ray source and sensor is crucial for achieving good quality of the radioscopic images displayed.
              </p>
            </div>
          </div>
        </a>
      </div>

    </div>


  </div> <!--END CONTAINER -->


  <div class="main-content-partners-white">

    <div class="separator-div"></div>
    <h4 class="branch-title-grey-customers">Customers</h4>

    <div class="container">
      <div class="row row-customers">

        <div class="col-xs-12 col-sm-4 col-lg-4">
          <!-- <a href="http://www.otsuka.co.jp/en" target="_blank"> -->
            <div class="thumbnail">
              <img src="img/customers/logo_Otsuka.jpg" alt="Otsuka">
              <!-- <div class="caption">
                <p class="branch-description-thumbnails-customers col-xs-6 col-xs-offset-3">
                  Eidosolutions designs and manufacturs X-ray equipments of various sizes and shapes based on the type of object that the customer must inspect.
                </p>
              </div> -->
            </div>
            <!-- <p class="branch-description-thumbnails">Otsuka&nbsp;<img src="img/02_main/arrow_branch.png"></img></p> -->
          <!-- </a> -->
          <!-- <div class="col-xs-12 col-lg-12 separator-div"></div> -->
        </div>

      <div class="col-xs-12 col-sm-4 col-lg-4">
        <!-- <a href="http://www.toshiba.com" target="_blank"> -->
          <div class="thumbnail">
            <img src="img/customers/logo_Toshiba.png" alt="Toshiba">
            <!-- <div class="caption">
              <p class="branch-description-thumbnails-customers col-xs-6 col-xs-offset-3">
                Eidosolutions designs and manufacturs X-ray equipments of various sizes and shapes based on the type of object that the customer must inspect.
              </p>
            </div> -->
          </div>
          <!-- <p class="branch-description-thumbnails">Toshiba&nbsp;<img src="img/02_main/arrow_branch.png"></img></p> -->
        <!-- </a> -->
        <!-- <div class="col-xs-12 col-lg-12 separator-div"></div> -->
      </div>

      <div class="col-xs-12 col-sm-4 col-lg-4">
        <!-- <a href="http://www.innowatio.it" target="_blank"> -->
          <div class="thumbnail">
            <img src="img/customers/logo_Innowatio.jpg" alt="Innowatio">
            <!-- <div class="caption">
              <p class="branch-description-thumbnails-customers col-xs-6 col-xs-offset-3">
                Eidosolutions designs and manufacturs X-ray equipments of various sizes and shapes based on the type of object that the customer must inspect.
              </p>
            </div> -->
          </div>
          <!-- <p class="branch-description-thumbnails">Innowatio&nbsp;<img src="img/02_main/arrow_branch.png"></img></p> -->
        <!-- </a> -->
        <!-- <div class="col-xs-12 col-lg-12 separator-div"></div> -->
      </div>

    </div>

    <div class="row row-customers">

      <div class="col-xs-12 col-sm-4 col-lg-4">
        <!-- <a href="http://www.interseals.it" target="_blank"> -->
	        <div class="thumbnail">
            <img src="img/customers/logo_Interseals.png" alt="Interseals">
            <!-- <div class="caption">
              <p class="branch-description-thumbnails-customers col-xs-6 col-xs-offset-3">
                Eidosolutions designs and manufacturs X-ray equipments of various sizes and shapes based on the type of object that the customer must inspect.
              </p>
            </div> -->
          </div>
          <!-- <p class="branch-description-thumbnails">Interseals&nbsp;<img src="img/02_main/arrow_branch.png"></img></p> -->

        <!-- </a> -->
        <!-- <div class="col-xs-12 col-lg-12 separator-div"></div> -->
      </div>

      <div class="col-xs-12 col-sm-4 col-lg-4">
        <!-- <a href="http://www.buffalo.edu" target="_blank"> -->
          <div class="thumbnail">
            <img src="img/customers/logo_tt.png" alt="AB-Mikro">
            <!-- <div class="caption">
              <p class="branch-description-thumbnails-customers col-xs-6 col-xs-offset-3">
                Eidosolutions designs and manufacturs X-ray equipments of various sizes and shapes based on the type of object that the customer must inspect.
              </p>
            </div> -->
          </div>
          <!-- <p class="branch-description-thumbnails">Buffalo University&nbsp;<img src="img/02_main/arrow_branch.png"></img></p> -->
        <!-- </a> -->
        <!-- <div class="col-xs-12 col-lg-12 separator-div"></div> -->
      </div>

      <div class="col-xs-12 col-sm-4 col-lg-4">
        <!-- <a href="http://www.buffalo.edu" target="_blank"> -->
          <div class="thumbnail">
            <img src="img/customers/logo_uniBUF.jpg" alt="Buffalo University">
            <!-- <div class="caption">
              <p class="branch-description-thumbnails-customers col-xs-6 col-xs-offset-3">
                Eidosolutions designs and manufacturs X-ray equipments of various sizes and shapes based on the type of object that the customer must inspect.
              </p>
            </div> -->
          </div>
          <!-- <p class="branch-description-thumbnails">Buffalo University&nbsp;<img src="img/02_main/arrow_branch.png"></img></p> -->
        <!-- </a> -->
        <!-- <div class="col-xs-12 col-lg-12 separator-div"></div> -->
      </div>

    </div>

    <div class="row row-customers">

      <div class="col-xs-12 col-sm-4 col-lg-4">
        <!-- <a href="http://www.utoronto.ca" target="_blank"> -->
          <div class="thumbnail">
            <img src="img/customers/logo_uniTOR.jpg" alt="Toronto University">
            <!-- <div class="caption">
              <p class="branch-description-thumbnails-customers col-xs-6 col-xs-offset-3">
                Eidosolutions designs and manufacturs X-ray equipments of various sizes and shapes based on the type of object that the customer must inspect.
              </p>
            </div> -->
          </div>
          <!-- <p class="branch-description-thumbnails">Toronto University&nbsp;<img src="img/02_main/arrow_branch.png"></img></br><i>Customer</i></p> -->
        <!-- </a> -->
        <!-- <div class="col-xs-12 col-lg-12 separator-div"></div> -->
      </div>

      <div class="col-xs-12 col-sm-4 col-lg-4">
        <!-- <a href="http://www.marionegri.it" target="_blank"> -->
	        <div class="thumbnail">
            <img src="img/customers/logo_IRFMN.jpg" alt="MNI">
            <!-- <div class="caption">
              <p class="branch-description-thumbnails-customers col-xs-6 col-xs-offset-3">
                Eidosolutions designs and manufacturs X-ray equipments of various sizes and shapes based on the type of object that the customer must inspect.
              </p>
            </div> -->
          </div>
          <!-- <p class="branch-description-thumbnails">IRCCS Mario Negri&nbsp;<img src="img/02_main/arrow_branch.png"></img></br><i>Customer</i></p> -->
        <!-- </a> -->
        <!-- <div class="col-xs-12 col-lg-12 separator-div"></div> -->
      </div>

      <div class="col-xs-12 col-sm-4 col-lg-4">
        <!-- <a href="http://www.unibg.it" target="_blank"> -->
          <div class="thumbnail">
            <img src="img/customers/logo_uniBG.jpg" alt="uniBG">
            <!-- <div class="caption">
              <p class="branch-description-thumbnails-customers col-xs-6 col-xs-offset-3">
                Eidosolutions designs and manufacturs X-ray equipments of various sizes and shapes based on the type of object that the customer must inspect.
              </p>
            </div> -->
          </div>
          <!-- <p class="branch-description-thumbnails">Bergamo University&nbsp;<img src="img/02_main/arrow_branch.png"></img></br><i>Customer</i></p> -->
        <!-- </a> -->
        <!-- <div class="col-xs-12 col-lg-12 separator-div"></div> -->
      </div>

    </div>

    <div class="row row-customers">

      <div class="col-xs-12 col-sm-4 col-lg-4">
        <!-- <a href="http://www.aimsacademy.org/" target="_blank"> -->
          <div class="thumbnail">
            <img src="img/customers/logo_AIMS.jpg" alt="AIMS Academy">
            <!-- <div class="caption">
              <p class="branch-description-thumbnails-customers col-xs-6 col-xs-offset-3">
                Eidosolutions designs and manufacturs X-ray equipments of various sizes and shapes based on the type of object that the customer must inspect.
              </p>
            </div> -->
          </div>
          <!-- <p class="branch-description-thumbnails">Istituto Tumori Milano&nbsp;<img src="img/02_main/arrow_branch.png"></img></br><i>Customer</i></p> -->
        <!-- </a> -->
        <!-- <div class="col-xs-12 col-lg-12 separator-div"></div> -->
      </div>


      <div class="col-xs-12 col-sm-4 col-lg-4">
        <!-- <a href="http://www.istitutotumori.it" target="_blank"> -->
          <div class="thumbnail">
            <img src="img/customers/logo_IstitutoTumori.jpg" alt="Istituto Tumori Milano">
            <!-- <div class="caption">
              <p class="branch-description-thumbnails-customers col-xs-6 col-xs-offset-3">
                Eidosolutions designs and manufacturs X-ray equipments of various sizes and shapes based on the type of object that the customer must inspect.
              </p>
            </div> -->
          </div>
          <!-- <p class="branch-description-thumbnails">Istituto Tumori Milano&nbsp;<img src="img/02_main/arrow_branch.png"></img></br><i>Customer</i></p> -->
        <!-- </a> -->
        <!-- <div class="col-xs-12 col-lg-12 separator-div"></div> -->
      </div>

      <div class="col-xs-12 col-sm-4 col-lg-4">
        <!-- <a href="http://www.ismett.it" target="_blank"> -->
          <div class="thumbnail">
            <img src="img/customers/logo_ismett.jpg" alt="Ismett">
            <!-- <div class="caption">
              <p class="branch-description-thumbnails-customers col-xs-6 col-xs-offset-3">
                Eidosolutions designs and manufacturs X-ray equipments of various sizes and shapes based on the type of object that the customer must inspect.
              </p>
            </div> -->
          </div>
          <!-- <p class="branch-description-thumbnails">Nestle&nbsp;<img src="img/02_main/arrow_branch.png"></img></br><i>Customer</i></p> -->
        <!-- </a> -->
        <!-- <div class="col-xs-12 col-lg-12 separator-div"></div> -->
      </div>



    </div>

    <div class="row row-customers">

      <div class="col-xs-12 col-sm-4 col-lg-4">
        <!-- <a href="http://www.emory.edu" target="_blank"> -->
          <div class="thumbnail">
            <img src="img/customers/logo_Emory.jpg" alt="Emory University">
            <!-- <div class="caption">
              <p class="branch-description-thumbnails-customers col-xs-6 col-xs-offset-3">
                Eidosolutions designs and manufacturs X-ray equipments of various sizes and shapes based on the type of object that the customer must inspect.
              </p>
            </div> -->
          </div>
          <!-- <p class="branch-description-thumbnails">Emory University&nbsp;<img src="img/02_main/arrow_branch.png"></img></br><i>Customer</i></p> -->
        <!-- </a> -->
        <!-- <div class="col-xs-12 col-lg-12 separator-div"></div> -->
      </div>

      <div class="col-xs-12 col-sm-4 col-lg-4">
        <!-- <a href="http://www.iowa.edu" target="_blank"> -->
          <div class="thumbnail">
            <img src="img/customers/logo_uniIOWA.jpg" alt="IOWA University">
            <!-- <div class="caption">
              <p class="branch-description-thumbnails-customers col-xs-6 col-xs-offset-3">
                Eidosolutions designs and manufacturs X-ray equipments of various sizes and shapes based on the type of object that the customer must inspect.
              </p>
            </div> -->
          </div>
          <!-- <p class="branch-description-thumbnails">IOWA University&nbsp;<img src="img/02_main/arrow_branch.png"></img></p> -->
        <!-- </a> -->
        <!-- <div class="col-xs-12 col-lg-12 separator-div"></div> -->
      </div>

      <div class="col-xs-12 col-sm-4 col-lg-4">
        <!-- <a href="http://www.nestle.it" target="_blank"> -->
          <div class="thumbnail">
            <img src="img/customers/logo_Nestle.jpg" alt="Nestle">
            <!-- <div class="caption">
              <p class="branch-description-thumbnails-customers col-xs-6 col-xs-offset-3">
                Eidosolutions designs and manufacturs X-ray equipments of various sizes and shapes based on the type of object that the customer must inspect.
              </p>
            </div> -->
          </div>
          <!-- <p class="branch-description-thumbnails">Nestle&nbsp;<img src="img/02_main/arrow_branch.png"></img></br><i>Customer</i></p> -->
        <!-- </a> -->
        <!-- <div class="col-xs-12 col-lg-12 separator-div"></div> -->
      </div>


    </div>

  </div>

</div>

<div class="container-fluid main-content-projects-grey">

  <h4 class="branch-title-grey-projects">Funded Projects</h4>

  <div class="container">
    <div class="row">

      <div class="col-xs-12 col-sm-4 col-lg-4">
        <a class="branch-description" href="http://www.active-fp7.eu" target="_blank">ACTIVE</a>
        <p class="branch-description-projects">Active Constraints Technologies for Ill-defined or Volatile Environments</p>
      </div>

      <div class="col-xs-12 col-sm-4 col-lg-4">
        <a class="branch-description" href="http://revammad.blogs.lincoln.ac.uk" target="_blank">REVAMMAD</a>
        <p class="branch-description-projects">REtinal Vascular Modelling, Measurement and Diagnosis</p>
      </div>

      <div class="col-xs-12 col-sm-4 col-lg-4">
        <a class="branch-description" href="http://www-2.unipv.it/compmech/icardiocloud.html" target="_blank">I-Cardio Cloud</a>
        <p class="branch-description-projects">Bringing cardiovascular virtual reality to clinical bedside practice through cloud platform</p>
      </div>

    </div>

    <div class="separator-div-projects"></div>

    <div class="row row-projects">

      <div class="col-xs-12 col-sm-4 col-lg-4">
        <a class="branch-description" href="http://www.robocast.eu" target="_blank">Robocast</a>
        <p class="branch-description-projects">ROBOT and sensors integration for Computer Assisted Surgery and Therapy</p>
      </div>

      <div class="col-xs-12 col-sm-4 col-lg-4">
        <a class="branch-description" href="http://www.smartaging.eu" target="_blank">Smart Aging</a>
        <p class="branch-description-projects">Data analysis and processing for welfare improvement in elderly population</p>
      </div>

      <div class="col-xs-12 col-sm-4 col-lg-4">
        <a class="branch-description" href="http://creactive.marionegri.it/" target="_blank">CREACTIVE</a>
        <p class="branch-description-projects">Collaborative REsearch on ACute Traumatic brain Injury in intensiVe care medicine in Europe</p>
      </div>

    </div>

    <div class="separator-div-projects"></div>

    <div class="row row-last">

      <div class="col-xs-12 col-sm-4 col-lg-4">
        <a class="branch-description" href="http://archtk.github.io" target="_blank">ARCH</a>
        <p class="branch-description-projects">Computational modeling for improvement of outcome after vascular access creation</p>
      </div>

      <div class="col-xs-12 col-sm-4 col-lg-4">
        <a class="branch-description" href="http://www.giviti.marionegri.it/Prosafe.asp" target="_blank">PROSAFE</a>
        <p class="branch-description-projects">PROmoting patient SAFEty and quality improvement in critical care</p>
      </div>

    </div>

    </div>

  </div>


</div>  <!-- END MAIN CONTENT -->

{% include socials.html %}
{% include vat.html %}
