---
layout: default
---


{% include navbar.html %}

<div class="main-content-responsive">
  <div class="container-fluid how-background">

      <h2 class="branch-title-grey-content-how">How we work</h2>
      <p class="col-xs-10 col-xs-offset-1 branch-description-main-header">
          Work at Orobix is the result of a close interplay of three teams.
      </p>
      <p class="col-xs-10 col-xs-offset-1 branch-description-header">
          Our mathematicians distill knowledge from data </br>
          by leveraging on the latest deep learning advancements.
      </p>
      <p class="col-xs-10 col-xs-offset-1 branch-description-header">
          Our engineers break down complex problems and physical phenomena </br>
          and take our solutions into the real-world.
      </p>
      <p class="col-xs-10 col-xs-offset-1 branch-description-main-header">
          Our computer scientists provide the technological foundation </br>
          and make sure our software is sound, scalable and resilient.
      </p>

  </div> <!--END HOW BACKGROUND -->

  <div id="how-container" class="container-fluid centercontents">

    <div class="col-xs-12 col-sm-4">
      <h2 class="branch-title-grey-how">Math</h2>
      <p class="branch-description-list">Deep learning</p>
      <p class="branch-description-list">Mathematical modelling </p>
      <p class="branch-description-list">Optimization</p>
      <p class="branch-description-list">Data analytics</p>
    </div>


    <div class="col-xs-12 col-sm-4">
      <h2 class="branch-title-grey-how">Engineering</h2>
      <p class="branch-description-list">System engineering</p>
      <p class="branch-description-list">Numerical simulation</p>
      <p class="branch-description-list">Computational geometry</p>
      <p class="branch-description-list">Visualization</p>
    </div>

    <div class="col-xs-12 col-sm-4">
      <h2 class="branch-title-grey-how">Computer Science</h2>
      <p class="branch-description-list">Software architecture</p>
      <p class="branch-description-list">Software development</p>
      <p class="branch-description-list">Distributed systems</p>
      <p class="branch-description-list">Cloud computing</p>
    </div>

  </div>

  <div id="how-container" class="container-fluid centercontents how-details">
      <p class="col-xs-10 col-xs-offset-1 branch-description-header">
          Orobix is first and foremost an engineering company. We're here to create
          enabling technology that allows humans address hard problems. To achieve this,
          we cross-breed artificial intelligence with engineering, bridging
          top-down modeling approaches with bottom-up data-driven reasoning.
      </p>
      <p class="col-xs-10 col-xs-offset-1 branch-description-header">
          Deep learning is one of our main focuses. While we use it across the board, we
          specialize in challenging image recognition and segmentation tasks using fully
          convolutional networks, augmented with semi-supervised capabilities, so that we
          can limit the amount of annotated data required by training deep neural networks
          to be compatible with typical real-world settings.
      </p>
      <p class="col-xs-10 col-xs-offset-1 branch-description-header">
          Effective communication of results to end-users is key to the adoption of advanced
          technologies. We leverage on dimensionality reduction techniques and advanced
          visualization to create embeddings that help explain autonomous decisions to humans,
          or build similarity spaces to put information into context.
      </p>
      <p class="col-xs-10 col-xs-offset-1 branch-description-header">
          On the engineering side, we have a proven track record on modeling physical phenomena
          using partial differential equations and building effective processing pipelines to
          turn multidimensional data into computational domains and boundary conditions.
          We use robust computational geometry algorithms and advanced visualization techniques
          to have non-expert users access complex, quantitative information and make informed
          decisions.
      </p>
      <p class="col-xs-10 col-xs-offset-1 branch-description-header">
          As a company that creates end-to-end solutions, we develop a lot of software in-house. We
          are polyglots, with a marked interest in functional programming. In our daily work
          we span from lower-level languages, such as C/C++, when performance is key, to expressive
          functional languages like Clojure to build clean, scalable systems. We build our frontends
          on portable HTML5/WebGL technologies and leverage on Torch and TensorFlow for deep learning.
      </p>
  </div>

  <div class="row">
    <img class="img-responsive col-xs-12 img-branches" src="img/how-we-work/software_development.jpg"></img>
  </div>

</div>  <!-- END MAIN CONTENT -->


{% include socials.html %}
{% include vat.html %}
