---
layout: default
---
<div id="pt-main" >
  {% include navbar.html %}

  <div class="pt-page pt-page-current pt-page-1" data-page="1">
    <a href="#what-we-do">
      <div class="home-logo">
        <img src="img/01_intro/logo_orobix_intro.png" class="img-logo"></img>
        <p class="branch-description-home">We engineer artificial intelligence systems<br>to unlock real-world business problems.</p>
        <!-- <a href="#what-we-do" class="row home-bottom">discover<img src="img/01_intro/arrow_intro.png"></img></a> -->
        <!-- <a href="#what-we-do" class="row home-bottom">discover more</a> -->
        <a class="btn btn-default btn-home" href="#what-we-do" role="button">discover</a>
        <!-- <a class="btn btn-default btn-lg" href="#what-we-do" role="button">discover</a> -->
      </div>
    </a>

    <div class="home-background">
      <img src="img/01_intro/apple_sx_01.png" class="background-home background-home-left img-responsive"></img>
      <img src="img/01_intro/apple_sx_03.png" class="background-home background-home-left img-responsive top"></img>
      <img src="img/01_intro/apple_dx_01.png" class="background-home background-home-right img-responsive"></img>
      <img src="img/01_intro/apple_dx_03.png" class="background-home background-home-right img-responsive top"></img>
    </div>
  </div>

  <!-- WHAT WE DO -->

  <div class="pt-page pt-page-2" hidden='true' data-page="2"> <!-- Branch Page -->
    <div class="main-content-responsive">
      <!-- <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 eng-background"> -->
      <div class="container-fluid eng-background">
        <h2 class="branch-title-grey">What we do</h2>

        <p class="col-xs-10 col-xs-offset-1 branch-description-white-header">
          At Orobix we leverage the latest advances in artificial intelligence </br>
          and strong engineering foundations to enable disruptive new solutions across a wide range of industries.
        </p>
        <p class="col-xs-10 col-xs-offset-1 branch-description-white-header-2">
          We engineer systems end-to-end, starting from a problem all the way to a solution working in production. </br>
          The end result is pure software, or a combination of software and hardware, such as sensors or robots.</br>
        </p>

        <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4" data-hash="life-sciences">
          <div class="thumbnail thumbnail-what-we-do">
            <img class="apple-menu-01" src="./img/00_common/tassello_nero.svg">
            <div class="caption caption-what-we-do">
              <p class="apple-white-branch">Life sciences</p>
              <div class="branch-detail-link branch-detail-link-black">
                <p class="discover-white">discover</p>
                <!-- <img src="img/00_common/arrow_discover_more.png"> -->
              </div>
            </div>
          </div>
        </div>

        <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4" data-hash="manufacturing">
          <div class="thumbnail thumbnail-what-we-do">
            <img class="apple-menu-02" src="../img/00_common/tassello.svg">
            <div class="caption caption-what-we-do">
              <p class="apple-white-branch">Manufacturing</p>
              <div class="branch-detail-link branch-detail-link-black">
                <p class="discover-white">discover</p>
                <!-- <img src="img/00_common/arrow_discover_more.png"> -->
              </div>
            </div>
          </div>
        </div>

        <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4" data-hash="everything">
          <div class="thumbnail thumbnail-what-we-do">
            <img class="apple-menu-03" src="../img/00_common/tassello_bianco.svg">
            <div class="caption caption-what-we-do">
              <p class="apple-white-branch">Everything else</p>
              <div class="branch-detail-link branch-detail-link-black">
                <p class="discover-white">discover</p>
                <!-- <img src="img/00_common/arrow_discover_more.png"> -->
              </div>
            </div>
          </div>
        </div>

        <!-- <div class="col-xs-12 col-sm-4 col-md-12 col-lg-4 black-div" data-hash="life-sciences">
          <img class="apple-menu" src="/img/00_common/apple_menu_03.png"></img>
          <p class="apple-white-branch">Life sciences</p>
          <div class="branch-detail-link branch-detail-link-black">
            <p class="discover discover-white">discover</p>
            <img src="img/00_common/arrow_discover_more.png">
          </div>
        </div>
        <div class="col-xs-12 col-sm-4 col-md-12 col-lg-4 black-div" data-hash="manufacturing">
          <img class="apple-menu" src="/img/00_common/apple_menu_02.png"></img>
          <p class="apple-white-branch">Manufacturing</p>
          <div class="branch-detail-link branch-detail-link-black">
            <p class="discover-white">discover</p>
            <img src="img/00_common/arrow_discover_more.png">
          </div>
        </div>
        <div class="col-xs-12 col-sm-4 col-md-12 col-lg-4 black-div" data-hash="everything">
          <img class="apple-menu" src="img/00_common/apple_menu_01.png"></img>
          <p class="apple-white-branch">Everything else</p>
          <div class="branch-detail-link branch-detail-link-black">
            <p class="discover-white">discover</p>
            <img src="img/00_common/arrow_discover_more.png">
          </div>
        </div> -->
      </div>

        <!-- LIFE SCIENCES -->
        <!-- <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12"> -->
        <!-- <div class="branch-content-resp row" id="life-sciences"> -->
          <div class="row" id="life-sciences">
          <!-- <div id="healthcare"> -->
            <div class="col-xs-10 col-lg-8 col-lg-offset-2 col-xs-offset-1 what-sections">
              <h2 class="branch-title">Life sciences</h2>
              <p class="branch-description">We inject knowledge into a new generation of medical devices.</p>
            </div>

            <div class="col-xs-10 col-lg-8 col-xs-offset-1 col-lg-offset-2">
                <p class="branch-description-list">Creating algorithms that incorporate clinical experience to extract quantitative information from medical imaging data</p>
            </div>

            <div class="col-xs-10 col-lg-8 col-xs-offset-1 col-lg-offset-2 separator-div">
            </div>

            <div class="col-xs-10 col-lg-8 col-xs-offset-1 col-lg-offset-2" style="z-index:5">
              <p class="branch-description-list">Enabling precision medicine through data-driven, patient-specific diagnostic support systems</p>
            </div>

            <div class="col-xs-10 col-lg-8 col-xs-offset-1 col-lg-offset-2 separator-div">
            </div>

            <div class="col-xs-10 col-lg-8 col-xs-offset-1 col-lg-offset-2">
              <p class="branch-description-list">Mapping individual patients to reference patient populations for diagnostic and prognostic support or clinical trial recruitment</p>
            </div>

            <div class="col-xs-10 col-lg-8 col-xs-offset-1 col-lg-offset-2 separator-div">
            </div>

            <div class="col-xs-10 col-lg-8 col-xs-offset-1 col-lg-offset-2" style="z-index:5">
              <p class="branch-description-list">Designing numerical models of physiological and pathological processes to explain and predict disease states</p>
            </div>

            <div class="row">
              <img class="img-responsive col-xs-12 img-branches" src="img/03_science/image_an.jpg"></img>
            </div>

          </div>
        <!-- </div> -->

        <!-- MANUFACTURING -->
        <!-- <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12"> -->
        <!-- <div class="branch-content-resp row" id="manufacturing"> -->
          <div class="row" id="manufacturing">
          <!-- <div id="manufacturing"> -->
            <div class="col-xs-10 col-lg-8 col-lg-offset-2 col-xs-offset-1 what-sections">
              <h2 class="branch-title">Manufacturing</h2>
              <p class="branch-description">We boost business and production processes with artificial intelligence.</p>
              <!-- (taking industrial vision to the next level using deep learning; new frontiers of X-ray inspection; cobots)-->
            </div>

            <div class="col-xs-10 col-lg-8 col-xs-offset-1 col-lg-offset-2">
              <!-- <p class="branch-description-list">Automated vision and X-ray inspection systems</p> -->
              <!-- <p class="branch-description-list">100% ray inspection systems with artificial intelligence applied towards zero defects production</p> -->
              <p class="branch-description-list">Taking industrial vision and X-ray inspection systems to the next level</p>
            </div>

            <div class="col-xs-10 col-lg-8 col-xs-offset-1 col-lg-offset-2 separator-div">
            </div>

            <div class="col-xs-10 col-lg-8 col-xs-offset-1 col-lg-offset-2" style="z-index:5">
              <!-- <p class="branch-description-list">Production data insight</p> -->
              <p class="branch-description-list">Analyzing real-time data from machinery and IoT sensors for industry 4.0 applications</p>
            </div>

            <div class="col-xs-10 col-lg-8 col-xs-offset-1 col-lg-offset-2 separator-div">
            </div>

            <div class="col-xs-10 col-lg-8 col-xs-offset-1 col-lg-offset-2">
              <p class="branch-description-list">Detecting anomalies in data streams, exploiting similarity in data patterns for predictive maintenance and optimization of production</p>
            </div>

            <div class="col-xs-10 col-lg-8 col-xs-offset-1 col-lg-offset-2 separator-div">
            </div>

            <div class="col-xs-10 col-lg-8 col-xs-offset-1 col-lg-offset-2" style="z-index:5">
              <p class="branch-description-list">Empowering collaborative robots with intelligent behaviors to work alongside humans</p>
            </div>

            <div class="row">
              <img class="img-responsive col-xs-12 img-branches" src="img/04_design/data_eng.jpg"></img>
            </div>
          </div>
        <!-- </div> -->

        <!-- EVERYTHING ELSE -->
        <!-- <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12"> -->
          <!-- <div class="branch-content-resp row" id="everything"> -->
          <div class="row" id="everything">
          <!-- <div id="everything"> -->
            <div class="col-xs-10 col-lg-8 col-lg-offset-2 col-xs-offset-1 what-sections">
              <h2 class="branch-title">Everything else</h2>
              <p class="branch-description">We marry data and models to tackle problems large and small.</p>
            </div>

            <div class="col-xs-10 col-lg-8 col-xs-offset-1 col-lg-offset-2">
              <p class="branch-description-list">Predicting energy demand, optimizing energy generation and renewable sources.</p>
            </div>

            <div class="col-xs-10 col-lg-8 col-xs-offset-1 col-lg-offset-2 separator-div">
            </div>

            <div class="col-xs-10 col-lg-8 col-xs-offset-1 col-lg-offset-2" style="z-index:5">
              <p class="branch-description-list">Forecasting complex phenomena, capturing short and long-term trends with data-driven approaches, providing insights through knowledge-based models</p>
            </div>

            <div class="col-xs-10 col-lg-8 col-xs-offset-1 col-lg-offset-2 separator-div">
            </div>

            <div class="col-xs-10 col-lg-8 col-xs-offset-1 col-lg-offset-2">
              <p class="branch-description-list">Integrating heterogeneous sources of data to provide second-opinion, high-throughput screening or alerting</p>
            </div>

            <div class="col-xs-10 col-lg-8 col-xs-offset-1 col-lg-offset-2 separator-div">
            </div>

            <div class="col-xs-10 col-lg-8 col-xs-offset-1 col-lg-offset-2" style="z-index:5">
              <p class="branch-description-list">Providing new tools for quantitative marketing and insight on the dynamics of customer reaction.</p>
            </div>

            <div class="row">
              <img class="img-responsive col-xs-12 img-branches" src="img/03_science/machine_learning.jpg"></img>
            </div>

          </div>
        <!-- </div> -->

        {% include vat.html %}

        <!-- HOW WE WORK -->

      </div>
    </div> <!-- END Main Content-->

  </div> <!-- END PAGE 2 pt-page pt-page-2-->


  <div class="pt-page pt-page-3" hidden='true' data-page="3">
    {% include pt-page-3.html %}
    {% include vat.html %}
  </div>

  <div class="pt-page pt-page-6" hidden='true' data-page="6">
    {% include pt-page-6.html %}
    {% include vat.html %}
  </div>

  <div class="pt-page pt-page-7" hidden='true' data-page="7">
    {% include pt-page-7.html %}
    {% include vat.html %}
  </div>

  <div class="pt-page pt-page-8" hidden='true' data-page="8">
    {% include pt-page-8.html %}
    {% include vat.html %}
  </div>

  <div class="pt-page pt-page-9" hidden='true' data-page="9">
    {% include pt-page-9.html %}
    {% include vat.html %}
  </div>

</div>
