---
layout: default
---

<div id="pt-main" >
  {% include navbar.html %}

  <div class="pt-page pt-page-1">
    <img src="img/01_intro/apple_sx_01.png" class="background-home background-home-left img-responsive"></img>
    <img src="img/01_intro/apple_dx_01.png" class="background-home background-home-right img-responsive"></img>

    <!--<p class="navbar-text pull-right">
      &nbsp&nbsp&nbsp<a href="#" data-animation="16" data-next="1">Branch List</a>
      &nbsp&nbsp&nbsp&nbsp<a href="#">Meet the team</a>
      &nbsp&nbsp&nbsp<a href="#">Contact</a>&nbsp
    </p>-->

    <ul class="nav navbar-nav navbar-right">
      <li><a href="#" data-animation="13" data-next="1">Branch list</a></li>
      <li><a href="#">Meet the team</a></li>
      <li><a href="#">Contact</a></li>
    </ul>

    <div class="row">
      <div class="col-xs-12 col-sm-12 col-md-12 home-logo">
        <img src="img/01_intro/logo_orobix_intro.png" class="col-xs-4 img-logo"></img>
      </div>
    </div>

    <div class="row">
      <div class="col-xs-12 col-sm-12 col-md-12 home-bottom">
        <a href="#" data-animation="13" data-next="1">We are Orobix <img src="img/01_intro/arrow_intro.png"></img></a>
      </div>
    </div>
  </div>

  <div class="pt-page pt-page-2"> <!-- Branch Page -->
    <div class="main-content">

        <div class="col-xs-4 col-lg-4">
	  <p class="branch">Science & Tech</p>
          <dl>
            <dt class="branch-list">
	      <a href="#" data-animation="15" data-next="2" data-scroll="#modeling">
		Modeling&nbsp;<img src="img/02_main/arrow_branch.png"></img>
              </a>
	    </dt>
            <dt class="branch-list">
	      <a href="#" data-animation="15" data-next="2" data-scroll="#imageanalysis">
		Image Analysis&nbsp;<img src="img/02_main/arrow_branch.png"></img>
              </a>
	    </dt>
            <dt class="branch-list">
	      <a href="#" data-animation="15" data-next="2" data-scroll="#dataengineering">
		Data Engineering&nbsp;<img src="img/02_main/arrow_branch.png"></img>
	      </a>
	    </dt>
          </dl>

	  <img class="img-branches" src="img/02_main/apple_science.jpg"></img>

          <div class="bottom row"  data-animation="15" data-next="2">
            <div class="branch-detail-link">
              <p>discover more</p>
              <img src="img/02_main/arrow_discover.png">
            </div>
          </div>
	</div>

	<div class="col-xs-4 col-lg-4">
	  <p class="branch">Design & Development</p>
          <dl>
            <dt class="branch-list"><a href="#" data-animation="15" data-next="3" data-scroll="#applicationdesign">Application Design&nbsp;<img src="img/02_main/arrow_branch.png"></img></a></dt>
            <dt class="branch-list"><a href="#" data-animation="15" data-next="3" data-scroll="#infrastructuredesign">Infrastructure Design&nbsp;<img src="img/02_main/arrow_branch.png"></img></a></dt>
            <dt class="branch-list"><a href="#" data-animation="15" data-next="3" data-scroll="#softwaredevelopment">Software Development&nbsp;<img src="img/02_main/arrow_branch.png"></img></a></dt>
          </dl>

	  <img class="img-branches" src="img/02_main/apple_design.jpg"></img>

          <div class="bottom row"  data-animation="15" data-next="3">
            <div class="branch-detail-link">
              <p>discover more</p>
              <img src="img/02_main/arrow_discover.png">
            </div>
          </div>
	</div>

	<div class="col-xs-4 col-lg-4">
	  <p class="branch">Customers & Services</p>
          <dl>
            <dt class="branch-list"><a href="#" data-animation="15" data-next="4" data-scroll="#pharma">Pharma&nbsp;<img src="img/02_main/arrow_branch.png"></img></a></dt>
            <dt class="branch-list"><a href="#" data-animation="15" data-next="4" data-scroll="#b2b">B2B&nbsp;<img src="img/02_main/arrow_branch.png"></img></a></dt>
            <dt class="branch-list"><a href="#" data-animation="15" data-next="4" data-scroll="#b2c">B2C&nbsp;<img src="img/02_main/arrow_branch.png"></img></a></dt>
          </dl>

	  <img class="img-branches" src="img/02_main/apple_customers.jpg"></img>

          <div class="bottom row" data-animation="15" data-next="4">
            <div class="branch-detail-link">
              <p>discover more</p>
              <img src="img/02_main/arrow_discover.png">
            </div>
          </div>
	</div>
    </div>

  </div> <!-- END PAGE 2 -->


  <div class="pt-page pt-page-3">
    {% include pt-page-3.html %}
  </div>

  <div class="pt-page pt-page-4">
    {% include pt-page-4.html %}
  </div>

  <div class="pt-page pt-page-5">
    {% include pt-page-5.html %}
  </div>

  <div class="pt-page pt-page-6">
    <h1><span>A collection of</span><strong>Page</strong> Transitions</h1>
    <a href="#" data-animation="14" data-next="3"><</a>
      b2
    <a href="#" data-animation="13" data-next="5">></a>
  </div>
