---
layout: default
---


{% include navbar.html %}

<div class="main-content-responsive">
  <div class="container-fluid spin-background">

      <h2 class="branch-title-grey-content-spinouts">Spin-outs</h2>

      <p class="branch-description">
      Spin outs are verticalizations of our technologies in specific domains. </br>
      They typically stem from internal projects and grow up to become full-blown, </br>
      self-sustained products and services, each with their own brand.
      </p>

  </div> <!--END SPIN BACKGROUND -->

  <div id="deepray-container" class="row">
    <div class="col-xs-12 deepray">
      <div id="spin-out-box">
        <img id="logo-products" src="img/08_products/deep_ray_logo.svg">
        <p id="description-products" class="branch-description-product">Artificial intelligence applied towards zero defects production</p>
        <a class="btn btn-default btn-products" target="_blank" href="http://www.deep-ray.com" role="button">discover</a>
      </div>
    </div>
  </div>

  <div id="vmtklab-container" class="row">
    <div class="col-xs-12 vmtklab">
      <div id="spin-out-box">
        <img id="logo-products" src="img/08_products/vmtklab_logo.svg">
        <p id="description-products" class="branch-description-product">Workflow-oriented graphical application for image-based modeling</p>
        <a class="btn btn-default btn-products" target="_blank" href="http://vmtklab.orobix.com" role="button">discover</a>
      </div>
    </div>
  </div>

  <div id="invariant-container" class="row">
    <div class="col-xs-12 invariant">
      <div id="spin-out-box">
        <img id="logo-products" src="img/08_products/logo_invariant.svg">
        <p id="description-products" class="branch-description-product"></p>
        <a class="btn btn-default btn-products disabled" target="_blank" href="" role="button">discover</a>
      </div>
    </div>
  </div>
</div>


</div>  <!-- END MAIN CONTENT -->

{% include socials.html %}
{% include vat.html %}
