---
layout: default
---


{% include navbar.html %}

<div class="main-content-responsive content-team">

  <div id="team-all" class="row branch-content">
    <img id="img-team" class="bottom img-responsive col-xs-12" src="img/team/team_2.jpg" />
    <img class="top img-responsive col-xs-12" src="img/team/team_1.jpg" />
  </div>

  <div class="main-content branch-head-team-2">
    <div class="branch-content row">
      <div class="col-xs-12 col-sm-12 col-lg-10 col-lg-offset-1">
        <h2 class="branch-title-grey-team">We are Orobix</h2>
      </div>
      <div class="col-xs-12 col-sm-12 col-lg-10 col-lg-offset-1">
        <p class="branch-description">We find practical solutions to tangible problems using
                                high-profile engineering and computing.</br>
                                      We use mathematics to unravel reality and make it
              accessible to end-users.</p>
      </div>
    </div>
  </div>

  <!--
  <div class="branch-content-team branch-content-team row">
    <div class="col-xs-12 col-md-4 col-md-offset-1">
      <img class="img-responsive col-xs-12" src="img/team/Pietro_Rota.jpg">
    </div>
    <div class="col-xs-12 col-md-4">
      <div class="container-fluid team-text">
        <div class="col-xs-6 col-md-12">
          <h2 class="team-title-bottom">Pietro Rota</h2>
          <h4 class="team-name">CEO</h4>
        </div>
      </div>
    </div>
  </div>

  <div class="branch-content-team branch-content-team-first row">

    <div class="col-xs-12 col-md-4 col-md-offset-1">
      <img class="img-responsive col-xs-12" src="img/team/Luca_Antiga.jpg">
    </div>

    <div class="col-xs-12 col-md-4">
      <div class="container-fluid team-text">
        <div class="col-xs-6 col-md-12">
          <h2 class="team-title-bottom">Luca Antiga</h2>
          <h4 class="team-name">CTO</h4>
        </div>
      </div>
    </div>

  </div>
  -->

  <div class="branch-content-team branch-content-team row">
    <div class="col-xs-12 col-md-4 col-md-offset-3">

      <div class="container-fluid team-text">
        <div class="col-xs-6 col-md-12">
          <h2 class="team-title-bottom">Pietro Rota</h2>
          <h4 class="team-name">Founder/CEO</h4>
        </div>
      </div>

      <div class="container-fluid team-text">
        <div class="col-xs-6 col-md-12">
          <h2 class="team-title-bottom">Luca Antiga</h2>
          <h4 class="team-name">Founder/CTO</h4>
        </div>
      </div>
    </div>

    <div class="col-xs-12 col-md-4">
      <div class="container-fluid team-text">
        <div class="col-xs-6 col-md-12">
          <h2 class="team-title-bottom">Roberta Assi</h2>
          <h4 class="team-name">Data science</h4>
        </div>
        <div class="col-xs-6 col-md-12">
          <h2 class="team-title-bottom">Manuela Bazzana</h2>
          <h4 class="team-name">Marketing</h4>
        </div>
        <div class="col-xs-6 col-md-12">
          <h2 class="team-title-bottom">Silvia Bianchetti</h2>
          <h4 class="team-name">Data science</h4>
        </div>
        <div class="col-xs-6 col-md-12">
          <h2 class="team-title-bottom">Daniele Ciriello</h2>
          <h4 class="team-name">Data science</h4>
        </div>
        <div class="col-xs-6 col-md-12">
          <h2 class="team-title-bottom">Daniele Cortinovis</h2>
          <h4 class="team-name">Data science</h4>
        </div>
        <div class="col-xs-6 col-md-12">
          <h2 class="team-title-bottom">Cristina Franchini</h2>
          <h4 class="team-name">Operations</h4>
        </div>
        <div class="col-xs-6 col-md-12">
          <h2 class="team-title-bottom">Luca Galloni</h2>
          <h4 class="team-name">Operations</h4>
        </div>
        <div class="col-xs-6 col-md-12">
          <h2 class="team-title-bottom">Lisa Lozza</h2>
          <h4 class="team-name">Data science</h4>
        </div>
        <div class="col-xs-6 col-md-12">
          <h2 class="team-title-bottom">Paola Maffeis</h2>
          <h4 class="team-name">Operations</h4>
        </div>
        <div class="col-xs-6 col-md-12">
          <h2 class="team-title-bottom">Michele Mangili</h2>
          <h4 class="team-name">Engineering</h4>
        </div>
        <div class="col-xs-6 col-md-12">
          <h2 class="team-title-bottom">Valeria Mondiali</h2>
          <h4 class="team-name">Operations</h4>
        </div>
        <div class="col-xs-6 col-md-12">
          <h2 class="team-title-bottom">Federica Moretti</h2>
          <h4 class="team-name">Data science</h4>
        </div>
        <div class="col-xs-6 col-md-12">
          <h2 class="team-title-bottom">Sergio Pedercini</h2>
          <h4 class="team-name">Engineering</h4>
        </div>
        <div class="col-xs-6 col-md-12">
          <h2 class="team-title-bottom">Giovanni Patruno</h2>
          <h4 class="team-name">Engineering</h4>
        </div>
        <div class="col-xs-6 col-md-12">
          <h2 class="team-title-bottom">Paolo Quadri</h2>
          <h4 class="team-name">Data science</h4>
        </div>
        <div class="col-xs-6 col-md-12">
          <h2 class="team-title-bottom">Filippo Quarenghi</h2>
          <h4 class="team-name">Data science</h4>
        </div>
        <div class="col-xs-6 col-md-12">
          <h2 class="team-title-bottom">Enrico Spinelli</h2>
          <h4 class="team-name">Data science</h4>
        </div>
        <div class="col-xs-6 col-md-12">
          <h2 class="team-title-bottom">Filippo Vajana</h2>
          <h4 class="team-name">Engineering</h4>
        </div>
        <div class="col-xs-6 col-md-12">
          <h2 class="team-title-bottom">Rahul Veettil</h2>
          <h4 class="team-name">Data science</h4>
        </div>
        <div class="col-xs-6 col-md-12">
          <h2 class="team-title-bottom">Andrea Vidali</h2>
          <h4 class="team-name">Data science</h4>
        </div>
        <div class="col-xs-6 col-md-12">
          <h2 class="team-title-bottom">Stefano Villa</h2>
          <h4 class="team-name">Engineering</h4>
        </div>
      </div>
    </div>
  </div>

</div>  <!-- END MAIN CONTENT -->

{% include socials.html %}
{% include vat.html %}
