<div class="branch-content-footer">
  <h2>Title</h2>
  <p>TestoTestoTestoTestoTesto<br>TestoTestoTesto<br>Testo<br>TestoTestoTesto<br>TestoTesto<br></p>

  <div class="products row">
    <div class="col-xs-2 col-xs-offset-1">
      <img src="img/00_common/apple_products.jpg" class="branch-detail-icon">
      <div class="branch-detail-link">
        <h4>Shirop<img src="img/00_common/arrow_products.png"></h4>
      </div>
    </div>

    <div class="col-xs-2">
      <img src="img/00_common/apple_products.jpg" class="branch-detail-icon">
      <div class="branch-detail-link">
        <h4>Hirop<img src="img/00_common/arrow_products.png"></h4>
      </div>
    </div>

    <div class="col-xs-2">
      <img src="img/00_common/apple_products.jpg" class="branch-detail-icon">
      <div class="branch-detail-link">
        <h4>Ghirop<img src="img/00_common/arrow_products.png"></h4>
      </div>
    </div>

    <div class="col-xs-2">
      <img src="img/00_common/apple_products.jpg" class="branch-detail-icon">
      <div class="branch-detail-link">
        <h4>Bhirop<img src="img/00_common/arrow_products.png"></h4>
      </div>
    </div>

    <div class="col-xs-2">
      <img src="img/00_common/apple_products.jpg" class="branch-detail-icon">
      <div class="branch-detail-link">
        <h4>Phirop<img src="img/00_common/arrow_products.png"></h4>
      </div>
    </div>
  </div>
</div>
