<div id="menu" class="navbar navbar-default navbar-fixed-top" role="navigation">
  <div class="navbar-collapse collapse">

    <img class="orobix-logo-menu" src="img/00_common/logo_orobix_menu.png"></img>

    <ul class="nav navbar-nav navbar-right">
      <li class="next1"><a href="#" data-animation="16" data-next="1">What we do</a></li>
      <li class="next5"><a href="#" data-animation="13" data-next="5">Meet the team</a></li>
      <li class="next6"><a href="#" data-animation="13" data-next="6">Contact</a></li>
    </ul>
  </div>
</div>
