<div id="menu" class="navbar navbar-default navbar-fixed-top" role="navigation">
  <div class="navbar-header">
    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
      <span class="sr-only">Toggle navigation</span>
      <i class="fa fa-navicon"></i>
    </button>
    <a href="#home" class="navbar-brand">
      <img class="orobix-logo-menu img-responsive" src="img/00_common/logo_orobix_menu.png"></img>
    </a>
  </div>

  <div class="navbar-collapse collapse" id="bs-example-navbar-collapse-1">
    <ul id="menu-navbar" class="nav navbar-nav navbar-right navbar-center">
      <!-- <li class="next1 next2 next3 next4"><a href="#what-we-do">What we do</a></li> -->
      <li class="next1"><a href="#what-we-do">What we do</a></li>
      <li class="next3"><a href="#how-we-work">How we work</a></li>
      <li class="next7"><a href="#products">Spin-outs</a></li>
      <li class="next5"><a href="#team">Team</a></li>
      <li class="next8"><a href="#customers">Community</a></li>
      <!-- <li class="next9"><a href="#faq">FAQ</a></li> -->
      <li class="next6"><a href="#contact">Contact</a></li>
    </ul>
  </div>
</div>
