<div class="branch-head">
  <div class="top">
    <div class="branch-link">
      <div class="col-xs-6 col-lg-6 branch-link-left">
        <a href="#" data-animation="14" data-next="3">
          <img src="img/02_main/arrow_discover_left.png">
          <p>Design &<br>Development</p>
        </a>
      </div>
      <div class="col-xs-6 col-lg-6 branch-link-right">
        <a href="#" data-animation="13" data-next="2">
          <p>Science &<br>Tech</p>
          <img src="img/02_main/arrow_discover_right.png">
        </a>
      </div>
    </div>

    <div class="branch-content">
      <div class="col-xs-10 col-lg-10 col-xs-offset-1 col-lg-offset-1">
        <h4 class="branch-name">Customers & Services</h4>
        <h2 class="branch-title">All sizes and shapes</h2>
        <p class="branch-description">From small companies to multinationals, from small labs
          to large institutions.<br> Our flexibility and willingness to adapt allows us to work with all customers,<br> at the
          required quality assurance level, starting from our ISO 9001:2008 <br>and incorporating additional SOP's as needed.
        </p>
      </div>
    </div>

    <div class="branch-image">
      <img src="img/05_customers/apple_customers.png">
      <div class="branch-detail-link">
        <img class="img-arrow-branch-detail-link"src="img/02_main/arrow_discover.png" data-hash="#pharma">
      </div>
    </div>
  </div>
</div> <!--<end head-->

<!-- <div class="branch-content branch-content-1 row">
  <div class="col-xs-5 col-xs-offset-2 row top">
    <div class="description">
      <h3>Title</h3>
      <p>TestoTestoTestoTestoTesto<br>TestoTestoTestoTesto<br>TestoTestoTesto<br>Testo<br>TestoTestoTesto<br>TestoTesto<br></p>
    </div>
    <a class="link" href="#">
      <h4 class="name">Pietro Rota</h4>
      <p class="role">about<img src="img/00_common/arrow_about_w.png"></p>
    </a>
  </div>
</div> -->

<div class="branch-content-resp row" id="home">
  <div class="row">
    <img class="img-responsive" src="/img/05_customers/pietro_customers_bw.jpg"></img>
  </div>
</div>

<div class="branch-content-resp row" id="pharma">
  <div class="col-xs-8 col-lg-8 col-xs-offset-2 col-lg-offset-2">
    <img src="img/00_common/apple_01.jpg" class="branch-section-icon">
    <h2 class="branch-title">Pharma</h2>
    <p class="branch-description">We work alongside pharmaceutical companies to provide imaging and data analysis services for
      drug discovery, clinical trials and postmarketing applications. Our Quality Management System is GxP compliant and it has
      been designed to integrate our clients' SOP's on a by-project basis.
    </p>
  </div>
  <div class="row">
    <img class="img-responsive" src="img/05_customers/pharma.jpg"></img>
  </div>
</div>

<div class="branch-content-resp row" id="b2b">
  <div class="col-xs-8 col-lg-8 col-xs-offset-2 col-lg-offset-2">
    <img src="img/00_common/apple_02.jpg" class="branch-section-icon">
    <h2 class="branch-title">B2B</h2>
    <p class="branch-description">We provide our services for prototyping solutions and developing products from small businesses
      to global multinational companies. We support innovation processes by partnering with our clients on R&D projects in healthcare,
      life sciences, manufacturing, environment and finance.
    </p>
  </div>
  <div class="row">
    <img class="img-responsive" src="img/05_customers/b2b.jpg"></img>
  </div>
</div>

<div class="branch-content-resp row" id="b2c">
  <div class="col-xs-8 col-lg-8 col-xs-offset-2 col-lg-offset-2">
    <img src="img/00_common/apple_03.jpg" class="branch-section-icon">
    <h2 class="branch-title">B2C</h2>
    <p class="branch-description">We develop consumer-oriented solutions and services based on our expertise on web-scale technologies,
      application design and business development. Our solutions are targeted at professionals, researchers as well as the general public.
    </p>
  </div>
  <div class="row">
    <img class="img-responsive" src="img/05_customers/b2c.jpg"></img>
  </div>
</div>
