<div class="branch-head">
  <div class="top">

    <div class="branch-link">
      <div class="col-xs-6 col-lg-6 branch-link-left">
        <a href="#" data-animation="14" data-next="4">
          <img src="img/02_main/arrow_discover.png">
          <p>Customers &<br>Services</p>
        </a>
      </div>
      <div class="col-xs-6 col-lg-6 branch-link-right">
        <a href="#" data-animation="13" data-next="3">
          <p>Design &<br>Development</p>
          <img src="img/02_main/arrow_discover.png">
        </a>
      </div>
    </div>

    <div class="branch-content row">
      <div class="col-xs-8 col-lg-6 col-xs-offset-2 col-lg-offset-3">
        <h4 class="branch-name">Science & Tech</h4>
        <h2 class="branch-title">Releasing the essential</h2>
        <p class="branch-description">Our job is to make complexity manageable, empowering our end-users with the ability to see
          into phenomena and processes with a quantitative eye and make better, more informed decisions</p>
      </div>
    </div>

    <div class="branch-image">
      <img src="img/03_science/apple_science.png" class="img-responsive">
      <div class="bottom">
        <div class="branch-detail-link">
          <img class="img-arrow-branch-detail-link"src="img/02_main/arrow_discover.png" data-hash="#modeling">
        </div>
      </div>
    </div>

  </div>
</div> <!--<end head-->

<!-- <div class="branch-head">
<div class="branch-content row">
  <div class="col-xs-8 col-lg-6 col-xs-offset-2 col-lg-offset-3">
    <h4 class="branch-name">Science & Tech</h4>
    <h2 class="branch-title">Releasing the essential</h2>
    <p class="branch-description">Our job is to make complexity manageable, empowering our end-users with the ability to see
        into phenomena and processes with a quantitative eye and make better, more informed decisions</p>
  </div>
  <div class="col-xs-2 col-lg-3"></div>
  <div class="col-xs-8 col-lg-6 col-xs-offset-2 col-lg-offset-3">
    <div class="branch-content-img">
      <img class="img-responsive img-apple" src="img/03_science/apple_science.png"></img>
    </div>
  </div>
  <div class="col-xs-8 col-lg-6 col-xs-offset-2 col-lg-offset-3">
    <div class="bottom row">
      <div class="branch-detail-link">
        <img class="img-arrow-branch-detail-link"src="img/02_main/arrow_discover.png">
      </div>
    </div>
  </div>

</div>
</div> -->


<!-- <div class="branch-content branch-content-1" id="home">
  <div class="col-xs-5 col-xs-offset-5 row top">
    <div class="description">
      <h3>Title</h3>
      <p>TestoTestoTestoTestoTesto<br>TestoTestoTestoTesto<br>TestoTestoTesto<br>Testo<br>TestoTestoTesto<br>TestoTesto<br></p>
    </div>
    <a class="link" href="#">
      <h4 class="name">Luca Antiga</h4>
      <p class="role">about Principal Scientist<img src="img/00_common/arrow_about_w.png"></p>
    </a>
  </div>

  <div class="col-xs-12 row bottom">
    <div class="col-xs-4" data-hash="#modeling">
      <img src="img/00_common/apple_icon_branch.png">
      <h4 class="branch-detail-title">Modeling</h4>
      <div class="branch-detail-link">
        <p>discover more</p>
        <img src="img/00_common/arrow_discover_more.png">
      </div>
    </div>
    <div class="col-xs-4 col-xs-offset-4" data-hash="#imageanalysis">
      <img src="img/00_common/apple_icon_branch.png">
      <h4 class="branch-detail-title">Image Analysis</h4>
      <div class="branch-detail-link">
        <p>discover more</p>
        <img src="img/00_common/arrow_discover_more.png">
      </div>
    </div>
    <div class="col-xs-4 col-xs-offset-8" data-hash="#dataengineering">
      <img src="img/00_common/apple_icon_branch.png">
      <h4 class="branch-detail-title">Data Engineering</h4>
      <div class="branch-detail-link">
        <p>discover more</p>
        <img src="img/00_common/arrow_discover_more.png">
      </div>
    </div>
  </div>
</div> -->

<div class="branch-content-resp row" id="modeling">
  <div class="col-xs-8 col-lg-6 col-xs-offset-2 col-lg-offset-3">
    <img src="img/00_common/apple_01.jpg" class="branch-section-icon">
    <h2 class="branch-title">Modeling</h2>
    <p class="branch-description">We apply mathematics and engineering to better understand reality, from biological processes to manufacturing,
      to financial transactions.</p>
  </div>
  <div class="col-xs-12 col-lg-12 col-branch">
    <div class="branch-content branch-content-2"></div>
  </div>

</div>

<div class="branch-content-resp row" id="imageanalysis">
  <div class="col-xs-8 col-lg-6 col-xs-offset-2 col-lg-offset-3">
    <img src="img/00_common/apple_02.jpg" class="branch-section-icon">
    <h2 class="branch-title">Image Analysis</h2>
    <p class="branch-description">We build systems with the ability to pick out quantitative information and semantic content from
      imaging data - for medicine, manufacturing, robotics and logistics.</p>
  </div>
  <div class="col-xs-12 col-lg-12 col-branch">
    <div class="branch-content branch-content-3"></div>
  </div>

</div>

<div class="branch-content-resp row" id="dataengineering">
  <div class="col-xs-8 col-lg-6 col-xs-offset-2 col-lg-offset-3">
    <img src="img/00_common/apple_03.jpg" class="branch-section-icon">
    <h2 class="branch-title">Data Engineering</h2>
    <p class="branch-description">We build efficient, distributed systems that manage, integrate and distill information from
      data using state-of-the-art machine learning techniques</p>
  </div>
  <div class="col-xs-12 col-lg-12 col-branch">
    <div class="branch-content branch-content-4" ></div>
  </div>

</div>


<!--{% include footer.html %}-->
