
<div id="team-all" class="row branch-content">
  <img id="img-team" class="bottom img-responsive col-xs-12" src="img/06_team/team_2.jpg" />
  <img class="top img-responsive col-xs-12" src="img/06_team/team_1.jpg" />
</div>


<div class="main-content branch-head-team-2">
  <div class="branch-content row">
    <div class="col-xs-12 col-sm-12 col-lg-10 col-lg-offset-1">
      <h4 class="branch-name">Meet the Team</h4>
      <h2 class="branch-title">We are Orobix</h2>
    </div>
    <div class="col-xs-12 col-sm-12 col-lg-10 col-lg-offset-1">
      <p class="branch-description">We find practical solutions to tangible problems using<br>
                              high-profile engineering and computing.</br>
                                    We use mathematics to unravel reality and make it<br>
            accessible to end-users.</p>
    </div>
  </div>
</div>

<div id="lucaAntiga" class="row branch-content-1">
  <img class="img-responsive col-xs-12" src="img/06_team/Luca_Antiga.jpg">
</div>

<div class="branch-content-team row">
  <div class="col-xs-12 col-sm-12 col-lg-8 col-lg-offset-2">
    <h2 class="team-title">Luca Antiga</h2>
    <h4 class="team-name">CEO & Co-founder</h4>
    <p class="team-description">
                                At the intersection between research and technology,<br>
                                often caught cross-breeding whatever he's just learned, <br>nerding on new computer stuff or trying to play jazz.</p>
    <p class="team-description">"Learn in order to understand, unlearn to push it further." </p>

  </div>
</div>

<div id="pietroRota" class="row branch-content-2">
  <img class="img-responsive col-xs-12" src="img/06_team/Pietro_Rota.jpg">
</div>

<div class="branch-content-team row">
  <div class="col-xs-12 col-sm-12 col-lg-8 col-lg-offset-2">
    <h2 class="team-title">Pietro Rota</h2>
    <h4 class="team-name">President & Co-founder</h4>
    <p class="team-description">Multi-faceted entrepreneur and strategic business developer<br>
                                His management skills derive from his extensive experience in industrial engineering.</p>
    <p class="team-description">"The future belongs to those who believe in the beauty of their dreams."</p>

  </div>
</div>

<div class="branch-content-team-bottom">
  <img src="img/06_team/separator_990.gif">
  <div id="simoneManini" class="wrap-center">
    <div><img src="img/06_team/Simone_Manini.jpg"></div>
    <!--<img class="img-responsive" src="img/06_team/Simone_Manini.jpg"
      onmouseover="this.src='img/06_team/Simone_Manini_02.jpg'"
      onmouseout="this.src='img/06_team/Simone_Manini.jpg'">-->
    <div class="team-text">
      <h2 class="team-title-bottom">Simone Manini</h2>
      <h4 class="team-name">Image analysis. Modeling.<br>Software development.</h4>
      <p class="team-description-bottom">The image-based modeling juggler at Orobix.<br>
      Bass guitarist and composer all year around, <br>kite-surfer in the summer,<br> snowboarder in the winter. <br>Driving force behind
      parties<br> and barbecues at the company.</p>
      <p class="team-description">"You can't stop the waves<br>but you can learn to surf."</p>
    </div>
  </div>
</div>

<div class="branch-content-team-bottom">
  <img src="img/06_team/separator_990.gif">
  <div id="paoloGalizzi" class="wrap-center">
    <div><img src="img/06_team/Paolo_Galizzi.jpg"></div>
    <div class="team-text">
      <h2 class="team-title-bottom">Paolo Galizzi</h2>
      <h4 class="team-name">Data engineering. Application design. <br>Software development.</h4>
      <p class="team-description-bottom"> The backend man at Orobix.<br>
        When he's not an engineer he's a passionate <br>photographer, he reads books, collects manga,<br> watches tv-series, explores nature on his motorbike <br>or on his running shoes...<br> sometimes all at the same time.</p>
       <p class="team-description">"No. Try not. Do... or do not. There is no try."</p>
    </div>
  </div>
</div>

<div class="branch-content-team-bottom">
  <img src="img/06_team/separator_990.gif">
  <div id="saraZanchi" class="wrap-center">
    <div><img src="img/06_team/Sara_Zanchi.jpg"></div>
    <div class="team-text">
      <h2 class="team-title-bottom">Sara Zanchi</h2>
      <h4 class="team-name">Machine learning. Application design. <br>Software development.</h4>
      <p class="team-description-bottom"> The frontend/visualization wiz at Orobix.<br>
         She detains all speed records for <br>making things work. <br> She loves the mountains, which she fearlessly <br>climbs on weekends and on any available holiday.</p>
         <p class="team-description">"The world is a spot to climb."</p>
    </div>
  </div>
</div>

<div class="branch-content-team-bottom">
  <img src="img/06_team/separator_990.gif">
  <div id="giorgioValoti" class="wrap-center">
    <div><img src="img/06_team/Giorgio_Valoti.jpg"></div>
    <div class="team-text">
      <h2 class="team-title-bottom">Giorgio Valoti</h2>
      <h4 class="team-name">Data engineering. Application design. <br>Software development.</h4>
      <p class="team-description-bottom"> From the bare metal to the character, <br> ties together all the project. <br>
         He likes to draw a lot of boxes and sling out documents. <br>He buys way too many books <br>trying to make sense of the world. </p>
         <p class="team-description">"Digital faber, font nerd, macro-solutor of mega-problems."</p>
    </div>
  </div>
</div>

<div class="branch-content-team-bottom">
  <img src="img/06_team/separator_990.gif">
  <div id="serenaMognetti" class="wrap-center">
    <div><img src="img/06_team/Serena_Mognetti.jpg"></div>
    <div class="team-text">
      <h2 class="team-title-bottom">Serena Mognetti</h2>
      <h4 class="team-name">Machine learning. Modeling. <br>Data engineering.</h4>
      <p class="team-description-bottom"> She is a nature junkie, <br>she loves to go hiking or run, possibly upwards. <br>
        In her free time she crafts necklaces of beads, <br>playing with the symmetries of colours and materials. </p>
         <p class="team-description">"Change the 'coordinates' and the meaning of a thing can change."</p>
    </div>
  </div>
</div>

<div class="branch-content-team-bottom">
  <img src="img/06_team/separator_990.gif">
  <div id="danieleCortinovis" class="wrap-center">
    <div><img src="img/06_team/Daniele_Cortinovis.jpg"></div>
    <div class="team-text">
      <h2 class="team-title-bottom">Daniele Cortinovis</h2>
      <h4 class="team-name">Machine learning. Modeling. <br>Software development.</h4>
      <p class="team-description-bottom"> A physicist, he is terribly curious and loves <br> to understand how the world works, <br>
        be it subatomic particles, neural networks <br>or fixing bikes. <br> He cycles to work in any weather, <br>
        hikes during weekends and explores the world whenever possible.</p>
         <p class="team-description">"Somewhere, something is waiting to be known."</p>
    </div>
  </div>
</div>

<div class="branch-content-team-bottom">
  <img src="img/06_team/separator_990.gif">
  <div id="lisaLozza" class="wrap-center">
    <div><img src="img/06_team/Lisa_Lozza.jpg"></div>
    <div class="team-text">
      <h2 class="team-title-bottom">Lisa Lozza</h2>
      <h4 class="team-name">Machine learning. Modeling. <br>Data engineering.</h4>
      <p class="team-description-bottom"> She juggles among mountains, university, <br>climbing walls and neural networks. <br>
        In the remaining time she loves<br> to discover new places <br>and immortalise them with her Reflex,<br> or to just stay home with a good book or a great movie. </p>
         <p class="team-description">"Never stop learning!"</p>
    </div>
  </div>
</div>
