<div class="main-content-partners">

    <h4 class="branch-name-customers">Partners & Customers</h4>
    
    <div class="container">

      <div class="row">
        <div class="col-xs-12 col-sm-6 col-lg-4">
          <a href="http://www.cilea.it" target="_blank">
	    <div class="thumbnail">
              <img src="img/09_clients/logo_Cilea.jpg" alt="Cilea">
            </div>
            <p class="branch-description-thumbnails">CILEA&nbsp;<img src="img/02_main/arrow_branch.png"></img></p>
          </a>
	  <div class="col-xs-12 col-lg-12 separator-div"></div>
        </div>
        <div class="col-xs-12 col-sm-6 col-lg-4">
          <a href="http://www.marionegri.it" target="_blank">
	  <div class="thumbnail">
            <img src="img/09_clients/logo_IRFMN.jpg" alt="MNI">
          </div>
          <p class="branch-description-thumbnails">IRCCS Mario Negri Institute&nbsp;<img src="img/02_main/arrow_branch.png"></img></p>
	  </a>
          <div class="col-xs-12 col-lg-12 separator-div"></div>
        </div>
        <div class="col-xs-12 col-sm-6 col-lg-4">
	  <a href="http://www.unibg.it" target="_blank">
          <div class="thumbnail">
            <img src="img/09_clients/logo_uniBG.jpg" alt="uniBG">
          </div>
          <p class="branch-description-thumbnails">Bergamo University&nbsp;<img src="img/02_main/arrow_branch.png"></img></p>
	  </a>
          <div class="col-xs-12 col-lg-12 separator-div"></div>
        </div>
      </div>

      <div class="row">
        <div class="col-xs-12 col-sm-6 col-lg-4">
          <a href="http://www.ieo.it" target="_blank">
	  <div class="thumbnail">
            <img src="img/09_clients/logo_IEO.jpg" alt="IEO">
          </div>
	  <p class="branch-description-thumbnails">IEO&nbsp;<img src="img/02_main/arrow_branch.png"></img></p>
	  </a>
          <div class="col-xs-12 col-lg-12 separator-div"></div>
        </div>
        <div class="col-xs-12 col-sm-6 col-lg-4">
	  <a href="http://www.innowatio.it" target="_blank">
          <div class="thumbnail">
            <img src="img/09_clients/logo_Innowatio.jpg" alt="Innowatio">
          </div>
	  <p class="branch-description-thumbnails">Innowatio&nbsp;<img src="img/02_main/arrow_branch.png"></img></p>
	  </a>
          <div class="col-xs-12 col-lg-12 separator-div"></div>
        </div>
        <div class="col-xs-12 col-sm-6 col-lg-4">
	  <a href="http://www.otsuka-global.com" target="_blank">
          <div class="thumbnail">
            <img src="img/09_clients/logo_Otsuka.jpg" alt="Otsuka">
          </div>
	  <p class="branch-description-thumbnails">Otsuka&nbsp;<img src="img/02_main/arrow_branch.png"></img></p>
	  </a>
          <div class="col-xs-12 col-lg-12 separator-div"></div>
        </div>
      </div>

      <div class="row">
        <div class="col-xs-12 col-sm-6 col-lg-4">
	  <a href="http://www.nestle.it" target="_blank">
          <div class="thumbnail">
            <img src="img/09_clients/logo_Nestle.jpg" alt="Nestle">
          </div>
	  <p class="branch-description-thumbnails">Nestle&nbsp;<img src="img/02_main/arrow_branch.png"></img></p>
	  </a>
          <div class="col-xs-12 col-lg-12 separator-div"></div>
        </div>
        <div class="col-xs-12 col-sm-6 col-lg-4">
	  <a href="http://www.istitutotumori.it" target="_blank">
          <div class="thumbnail">
            <img src="img/09_clients/logo_IstitutoTumori.jpg" alt="Istituto Tumori Milano">
          </div>
	  <p class="branch-description-thumbnails">Istituto Tumori Milano&nbsp;<img src="img/02_main/arrow_branch.png"></img></p>
	  </a>
          <div class="col-xs-12 col-lg-12 separator-div"></div>
        </div>
        <div class="col-xs-12 col-sm-6 col-lg-4">
	  <a href="http://www.emory.edu" target="_blank">
          <div class="thumbnail">
            <img src="img/09_clients/logo_Emory.jpg" alt="Emory University">
          </div>
	  <p class="branch-description-thumbnails">Emory University&nbsp;<img src="img/02_main/arrow_branch.png"></img></p>
	  </a>
          <div class="col-xs-12 col-lg-12 separator-div"></div>
        </div>
      </div>

      <div class="row">
        <div class="col-xs-12 col-sm-6 col-lg-4">
          <a href="http://www.iowa.edu" target="_blank">
	  <div class="thumbnail">
            <img src="img/09_clients/logo_uniIOWA.jpg" alt="IOWA University">
          </div>
	  <p class="branch-description-thumbnails">IOWA University&nbsp;<img src="img/02_main/arrow_branch.png"></img></p>
	  </a>
          <div class="col-xs-12 col-lg-12 separator-div"></div>
        </div>
        <div class="col-xs-12 col-sm-6 col-lg-4">
	  <a href="http://www.utoronto.ca" target="_blank">
          <div class="thumbnail">
            <img src="img/09_clients/logo_uniTOR.jpg" alt="Toronto University">
          </div>
	  <p class="branch-description-thumbnails">Toronto University&nbsp;<img src="img/02_main/arrow_branch.png"></img></p>
	  </a>
          <div class="col-xs-12 col-lg-12 separator-div"></div>
        </div>
        <div class="col-xs-12 col-sm-6 col-lg-4">
	  <a href="http://www.buffalo.edu" target="_blank">
          <div class="thumbnail">
            <img src="img/09_clients/logo_uniBUF.jpg" alt="BUffalo University">
          </div>
	  <p class="branch-description-thumbnails">Buffalo University&nbsp;<img src="img/02_main/arrow_branch.png"></img></p>
	  </a>
          <div class="col-xs-12 col-lg-12 separator-div"></div>
        </div>
      </div>

      <div class="row">
        <div class="col-xs-12 col-sm-6 col-lg-4">
	  <a href="http://www.polimi.it" target="_blank">
          <div class="thumbnail">
            <img src="img/09_clients/logo_poliMI.jpg" alt="Politecnico of Milan">
          </div>
	  <p class="branch-description-thumbnails">Politecnico of Milan&nbsp;<img src="img/02_main/arrow_branch.png"></img></p>
	  </a>
        </div>
        <div class="col-xs-12 col-sm-6 col-lg-4">
	  <a href="http://www.unifi.it" target="_blank">
          <div class="thumbnail">
            <img src="img/09_clients/logo_uniFI.jpg" alt="University of Florence">
          </div>
	  <p class="branch-description-thumbnails">University of Florence&nbsp;<img src="img/02_main/arrow_branch.png"></img></p>
	  </a>
        </div>
        <div class="col-xs-12 col-sm-6 col-lg-4">
          <a href="http://www.univr.it" target="_blank">
	  <div class="thumbnail">
            <img src="img/09_clients/logo_uniVR.jpg" alt="University of Verona">
          </div>
	  <p class="branch-description-thumbnails">University of Verona&nbsp;<img src="img/02_main/arrow_branch.png"></img></p>
	  </a>
        </div>

      </div>

    </div>


  <div class="row row-bottom">
    <h4 class="branch-name">Funded Projects</h4>
    <div class="col-xs-12 col-sm-6 col-lg-4">
      <p class="branch-description"><a href="http://www.active-fp7.eu" target="_blank">ACTIVE&nbsp;<img src="img/02_main/arrow_branch.png"></img></a></p>
      <div class="separator-div"></div>
      <p class="branch-description"><a href="http://archtk.github.io" target="_blank">ARCH&nbsp;<img src="img/02_main/arrow_branch.png"></img></a></p>
      <div class="separator-div"></div>
      <p class="branch-description"><a href="http://ec.europa.eu/research/health/medical-research/brain-research/projects/creactive_en.html" target="_blank">CREACTIVE&nbsp;<img src="img/02_main/arrow_branch.png"></img></a></p>
    </div>
    <div class="col-xs-12 col-sm-6 col-lg-4">
      <p class="branch-description"><a href="http://www-2.unipv.it/compmech/icardiocloud.html" target="_blank">I-Cardio Cloud&nbsp;<img src="img/02_main/arrow_branch.png"></img></a></p>
      <div class="separator-div"></div>
      <p class="branch-description"><a href="http://www.giviti.marionegri.it/Prosafe.asp" target="_blank">PROSAFE&nbsp;<img src="img/02_main/arrow_branch.png"></img></a></p>
      <div class="separator-div"></div>
      <p class="branch-description"><a href="http://revammad.blogs.lincoln.ac.uk" target="_blank">REVAMMAD&nbsp;<img src="img/02_main/arrow_branch.png"></img></a></p>
    </div>
    <div class="col-xs-12 col-sm-6 col-lg-4">
      <p class="branch-description"><a href="http://www.robocast.eu" target="_blank">Robocast&nbsp;<img src="img/02_main/arrow_branch.png"></img></a></p>
      <div class="separator-div"></div>
      <p class="branch-description"><a href="http://www.smartaging.eu" target="_blank">Smart Aging&nbsp;<img src="img/02_main/arrow_branch.png"></img></a></p>
    </div>
  </div>

</div>
