<div class="main-content-contact">
  <div class="row">
    <h4 class="branch-name">Contact us</h4>
    <p><a href="mailto:info@orobix.com">Send an email</a></p>

    <div class="col-lg-5 col-lg-offset-1">
      <p class="branch-description">HQs are in via Gabriele Camozzi, 144<br>24121 Bergamo - Italy<br>+39 035.0296480</p>
       <a target="_blank" href="https://www.google.com/maps/place/Via+Gabriele+Camozzi,+144/@45.6976947,9.6768529,17z/data=!3m1!4b1!4m2!3m1!1s0x4781511be89902cb:0x2e5898646677d191">
          See on map
       <img src="img/02_main/arrow_branch.png">
      </a>
    </div>
    <div class="col-lg-5">
      <p class="branch-description">Labs are at the kilometro Rosso<br>scientific and technological park<br>+39 035.42131</p>
       <a target="_blank" href="http://www.kilometrorosso.com/"><img src="img/07_contact/logoKmRosso.png"></a>
    </div>
  </div>

  <div class="row company-certification">
    <h4 class="branch-name">Company certification</h4>

    <div class="col-lg-10 col-lg-offset-1">
      <p class="branch-description">OROBIX received the ISO 9001:2008 certification in 2010.
        We wanted this to happen during our first year of activities because we strongly believe that a daily commitment in monitoring and improving the quality of our processes has a direct effect on our reliability towards our customers.<br><br><img src="img/07_contact/tuv.png">&nbsp;certificate number 50 100 9730</p>
    </div>
  </div>

  <div class="row">
    <h4 class="branch-name">Company info</h4>
    <div class="col-lg-10 col-lg-offset-1">
      <p class="branch-description">Sede sociale: via L.A. Muratori, 3 - 24123 Bergamo<br>Registro imprese di Bergamo Numero REA: BG - 392048<br>Capitale sociale: &euro;10.000 i.v.<br><br></p>
    </div>
  </div>
</div>
