<div class="main-content-contact">

  <div class="row">
    <h4 class="branch-name">Partners & Customers</h4>
    <div class="col-xs-12 col-sm-6 col-lg-4">
      <p class="branch-description"><a href="http://www.cilea.it" target="_blank">CILEA</a></p>
      <p class="branch-description"><a href="http://www.emory.edu" target="_blank">Emory University</a></p>
      <p class="branch-description"><a href="http://www.ieo.it" target="_blank">IEO</a></p>
      <p class="branch-description"><a href="http://www.innowatio.it" target="_blank">Innowatio</a></p>
      <p class="branch-description"><a href="http://www.uiowa.edu" target="_blank">Iowa University</a></p>
    </div>
    <div class="col-xs-12 col-sm-6 col-lg-4">
      <p class="branch-description"><a href="http://www.marionegri.it" target="_blank">IRCCS Mario Negri Institute</a></p>
      <p class="branch-description"><a href="http://www.istitutotumori.mi.it" target="_blank">Istituto di Tumori di Milano</a></p>
      <p class="branch-description"><a href="http://www.nestle.it" target="_blank">Nestl&egrave;</a></p>
      <p class="branch-description"><a href="http://www.otsuka-global.com" target="_blank">Otsuka</a></p>
      <p class="branch-description"><a href="http://www.polimi.it" target="_blank">Politecnico di Milano</a></p>
    </div>
    <div class="col-xs-12 col-sm-6 col-lg-4">
      <p class="branch-description"><a href="http://www.unibg.it" target="_blank">University of Bergamo</a></p>
      <p class="branch-description"><a href="http://www.buffalo.edu" target="_blank">University of Buffalo</a></p>
      <p class="branch-description"><a href="http://www.unifi.it" target="_blank">University of Florence</a></p>
      <p class="branch-description"><a href="http://www.utoronto.ca" target="_blank">University of Toronto</a></p>
      <p class="branch-description"><a href="http://www.univr.it" target="_blank">University of Verona</a></p>
    </div>
  </div>

  <div class="row row-bottom">
    <h4 class="branch-name">European Projects</h4>
    <div class="col-xs-12 col-sm-6 col-lg-4">
      <p class="branch-description"><a href="http://www.active-fp7.eu" target="_blank">Active</a></p>
      <p class="branch-description"><a href="http://archtk.github.io" target="_blank">ARCH</a></p>
      <p class="branch-description"><a href="http://ec.europa.eu/research/health/medical-research/brain-research/projects/creactive_en.html" target="_blank">Creactive</a></p>
    </div>
    <div class="col-xs-12 col-sm-6 col-lg-4">
      <p class="branch-description"><a href="http://www-2.unipv.it/compmech/icardiocloud.html" target="_blank">I-Cardio Cloud</a></p>
      <p class="branch-description"><a href="http://www.giviti.marionegri.it/Prosafe.asp" target="_blank">PROSAFE</a></p>
      <p class="branch-description"><a href="http://revammad.blogs.lincoln.ac.uk" target="_blank">REVAMMAD</a></p>
    </div>
    <div class="col-xs-12 col-sm-6 col-lg-4">
      <p class="branch-description"><a href="http://www.robocast.eu" target="_blank">Robocast</a></p>
      <p class="branch-description"><a href="http://www.smartaging.eu" target="_blank">Smart Aging</a></p>
    </div>
  </div>

</div>
