<div class="main-content-contact">
    <div class="row products-vmtklab">
      <h4 class="branch-name">vmtk Lab</h4>

      <div class="col-lg-10 col-lg-offset-1">
        <p class="branch-description">vmtkLab ... </p>
        <a target="_blank" href="http://www.vmtklab.com">
          discover more
          <img src="img/02_main/arrow_branch.png">
        </a>
      </div>

    </div>

    <div class="row products-dicomnext">
      <h4 class="branch-name">dicom Next</h4>

      <div class="col-lg-10 col-lg-offset-1">
        <p class="branch-description">dicom Next ... </p>
        <a target="_blank" href="http://www.dicomnext.com">
          discover more
          <img src="img/02_main/arrow_branch.png">
        </a>
      </div>

    </div>

    <div class="row products-vmtk">
      <h4 class="branch-name">vmtk</h4>

      <div class="col-lg-10 col-lg-offset-1">
        <p class="branch-description">vmtk is a collection of libraries and tools for 3D reconstruction, geometric analysis, mesh generation and surface data analysis for image-based modeling of blood vessels</p>
        <a target="_blank" href="http://www.vmtk.org">
          discover more
          <img src="img/02_main/arrow_branch.png">
        </a>
      </div>
    </div>

</div>
