<div class="main-content-contact">
  <div class="row">
    <h4 class="branch-name">Contact us</h4>
    <p><a href="mailto:info@orobix.com">Send an email</a></p>

    <div class="col-sm-5 col-sm-offset-1 col-lg-5 col-lg-offset-1">
      <p class="branch-description">HQs are in via Gabriele Camozzi, 144<br>24121 Bergamo - Italy<br>+39 035.0170561<br>+39 035.0273786</p>
       <a target="_blank" href="https://www.google.com/maps/place/Via+Gabriele+Camozzi,+144/@45.6976947,9.6768529,17z/data=!3m1!4b1!4m2!3m1!1s0x4781511be89902cb:0x2e5898646677d191">
          See on map
       <img src="img/02_main/arrow_branch.png">
      </a>
    </div>
    <div class="col-sm-5 col-lg-5">
      <p class="branch-description">Labs are at the kilometro Rosso<br>scientific and technological park<br>+39 035.42131</p>
       <a target="_blank" href="http://www.kilometrorosso.com/"><img src="img/07_contact/logoKmRosso.png"></a>
    </div>
  </div>

  <div class="row contact-image-top">
    <img class="img-responsive col-xs-12" src="img/07_contact/contact_1.jpg">
  </div>

  <div class="row company-certification">
    <h4 class="branch-name">Company certification</h4>

    <div class="col-sm-10 col-sm-offset-1 col-lg-10 col-lg-offset-1">
      <p class="branch-description">OROBIX is ISO 9001:2008 certified since 2010 and ISO 13485:2003/2012 (Medical devices) certified since 2015.
        We strongly believe that a daily commitment in monitoring and improving the quality of our processes has a direct effect on our reliability towards our customers.</p>
        <br><br>



    </div>

    <div class="col-sm-6 col-sm-offset-2 col-lg-2 col-lg-offset-4">
      <img src="img/07_contact/tuv.png">
    </div>

    <div class="col-sm-2 col-lg-4">
      <p class="branch-description-left">certificate numbers:<br>ISO 9001:2008: 50 100 9730, <br>ISO 13485:2012: Q1N 15 07 9247 001, <br>ISO 13485:2003 CMDR: Q1N 15 07 9247 002</p>
    </div>



  </div>

  <div class="row contact-image-bottom">
    <img class="img-responsive col-xs-12" src="img/07_contact/contact_2.jpg">
  </div>

  <div class="row">
    <h4 class="branch-name">Company info</h4>
    <div class="col-sm-10 col-sm-offset-1 col-lg-10 col-lg-offset-1">
      <p class="branch-description">Sede sociale: via Gabriele Camozzi, 144 - 24121 - Bergamo<br>Registro imprese di Bergamo Numero REA: BG - 392048<br>Capitale sociale: &euro;10.000 i.v.<br><br></p>
    </div>
  </div>
</div>
