<div class="branch-head-team">
  <div class="top-team">

    <div class="branch-content row">
      <div class="col-xs-8 col-lg-6 col-xs-offset-2 col-lg-offset-3">

        <h4 class="branch-name">We are Orobix</h4>

        <p class="branch-description-team">We find practical solutions to tangible problems.</p>
        <p class="branch-description-team">High-profile engineering and computing - image analysis for the pharma industry, numerical simulations for medical devices, machine learning for industrial manufacturing, data engineering for real-time trading.</p>
        <p class="branch-description-team">We use mathematics to model reality and put our methods in the hands of end-users.</br>
                                           Guaranteed quality assurance practices as required by the specific field of operation.</p>

      </div>
    </div>

  </div>
</div> <!--<end head-->

<div class="branch-content-1">
</div>

<div class="branch-content-team row">
  <div class="col-xs-8 col-lg-6 col-xs-offset-2 col-lg-offset-3">
    <h2 class="team-title">Pietro Rota</h2>
    <h4 class="team-name">President & Co-founder</h4>
    <p class="team-description">Activities: management & business development <br>
                                  Skill & attitudes: start-upper, negotiator  and expert in management engineering <br>
                                  xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx <br>
                                  xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx <br>
                                </p>
  </div>
</div>

<div class="branch-content-2">
</div>

<div class="branch-content-team row">
  <div class="col-xs-8 col-lg-6 col-xs-offset-2 col-lg-offset-3">
    <h2 class="team-title">Luca Antiga</h2>
    <h4 class="team-name">Principal Scientist</h4>
    <p class="team-description">Self-proclaimed Principal Scientist at Orobix, <br>
                                  obliquely positioned between helping the team researching methods, <br>
                                  designing systems and staying in tune with customers. <br>
                                  Can be an obsessive pain in the neck or just happy chug along. <br>
                                  "All this is just a logical prequel to becoming a world-renown jazz musician." <br>
                                </p>
  </div>
</div>

<div class="branch-content-3">
</div>

<div class="branch-content-team row">
  <div class="col-xs-8 col-lg-6 col-xs-offset-2 col-lg-offset-3">
    <h2 class="team-title">Michele Colombi</h2>
    <h4 class="team-name">Director of Operations</h4>
    <p class="team-description">I take care of resources and project management, budgeting and staffing. <br>
                                  I have international experience in biomedical device certification in EU and US markets. <br>
                                  Sometimes I program too. I like funky and rock music, swimming and sky mountaineering. <br>
                                  I am a trotter guy, usually smiling.<br>
                                  "Stay focused on what you do, but sometimes take a rest" <br>
                                </p>
  </div>
</div>

<div class="branch-content-team-separator row">
  <div class="col-xs-8 col-lg-8 col-xs-offset-2 col-lg-offset-2">
    <img class="img-responsive" src="img/06_team/separator.gif">
  </div>
</div>

<div class="branch-content-team-bottom row">
  <div class="col-xs-5 col-lg-5 col-xs-offset-2 col-lg-offset-2">
    <img class="img-responsive" src="img/06_team/Simone_Manini.jpg">
  </div>
  <div class="col-xs-4 col-lg-4">
    <h2 class="team-title-bottom">Simone Manini</h2>
    <h4 class="team-name">Project Manager</h4>
    <p class="team-description-bottom">I'm a software Engineer and I work in different activities such as software design and develop on cloud based computing technologies, mathematical modelling, image-based computational fluid mechanics. computer graphics, 3d image rendering and medical imaging.<br>
    I'm a musician ( bass guitar ) and a composer.  I love surf, snowboard and kite-surf.<br>
    "You can't stop the waves but you can learn to surf"</p>
  </div>
</div>

<div class="branch-content-team-separator row">
  <div class="col-xs-8 col-lg-8 col-xs-offset-2 col-lg-offset-2">
    <img class="img-responsive" src="img/06_team/separator.gif">
  </div>
</div>

<div class="branch-content-team-bottom row">
  <div class="col-xs-5 col-lg-5 col-xs-offset-2 col-lg-offset-2">
    <img class="img-responsive" src="img/06_team/Lorenzo_Botti.jpg">
  </div>
  <div class="col-xs-4 col-lg-4">
    <h2 class="team-title-bottom">Lorenzo Botti</h2>
    <h4 class="team-name">Scientist</h4>
    <p class="team-description-bottom">As an Orobix scientist I develop image analysis tools for automatic segmentation and finite element solvers for hemodynamics.<br>
      When I need to take a pause I like to run or play the drums, these physical activities help me to free my mind and stay in shape.<br>
    "The will to raise the bar will get the job done"</p>
  </div>
</div>

<div class="branch-content-team-separator row">
  <div class="col-xs-8 col-lg-8 col-xs-offset-2 col-lg-offset-2">
    <img class="img-responsive" src="img/06_team/separator.gif">
  </div>
</div>

<div class="branch-content-team-bottom row">
  <div class="col-xs-5 col-lg-5 col-xs-offset-2 col-lg-offset-2">
    <img class="img-responsive" src="img/06_team/Paolo_Galizzi.jpg">
  </div>
  <div class="col-xs-4 col-lg-4">
    <h2 class="team-title-bottom">Paolo Galizzi</h2>
    <h4 class="team-name">Software Developer</h4>
    <p class="team-description-bottom"> I work in software development, both client-server architecture that only server. I write the code to suite the client requirements, using best language alternative available at the moment and integrating our application with architecture already existing.<br>
      When i'm not an engineer, i like take photos, read books and manga, watch tv-series, exploring nature riding my motorbike or running... sometimes all in the same time!<br>
    "No. Try not. Do... or do not. There is no try. Yoda from Star Wars"</p>
  </div>
</div>

<div class="branch-content-team-separator row">
  <div class="col-xs-8 col-lg-8 col-xs-offset-2 col-lg-offset-2">
    <img class="img-responsive" src="img/06_team/separator.gif">
  </div>
</div>

<div class="branch-content-team-bottom row">
  <div class="col-xs-5 col-lg-5 col-xs-offset-2 col-lg-offset-2">
    <img class="img-responsive" src="img/06_team/Sara_Zanchi.jpg">
  </div>
  <div class="col-xs-4 col-lg-4">
    <h2 class="team-title-bottom">Sara Zanchi</h2>
    <h4 class="team-name">Software Programmer</h4>
    <p class="team-description-bottom"> I develop client side (web) application and I enjoy playing with graphic and data visualization tools.<br>
       I am a student of computer engineering at Bergamo University. I love mountains, I love climbing.<br>
       "The world is a spot to climb"</p>
  </div>
</div>

<div class="branch-content-team-separator row">
  <div class="col-xs-8 col-lg-8 col-xs-offset-2 col-lg-offset-2">
    <img class="img-responsive" src="img/06_team/separator.gif">
  </div>
</div>

<div class="branch-content-team-bottom row">
  <div class="col-xs-5 col-lg-5 col-xs-offset-2 col-lg-offset-2">
    <img class="img-responsive" src="img/06_team/Piotr_Chudzik.jpg">
  </div>
  <div class="col-xs-4 col-lg-4">
    <h2 class="team-title-bottom">Piotr Chudzik</h2>
    <h4 class="team-name">Early Stage Researcher</h4>
    <p class="team-description-bottom"> I work with dr Luca Antiga on a Data Warehouse and Evaluation Framework that will address big impediments in the medical domain: lack of shared data and ways to share data, standardized evaluation protocol, no ways to compare newly developed techniques against each other.<br>
       I like volleyball, chess, reading, mountaineering ,rolling earthworms after rain on a wet road...<br>
       "My name is Piotr Lukasz Chudzik, commander of the containerization, General of the Docker Legions, loyal servant of the Open Source community. Father to Crane, husband to deep learning. And I will have my Phd, in this life or the next."</p>
  </div>
</div>

<div class="branch-content-team-separator row">
  <div class="col-xs-8 col-lg-8 col-xs-offset-2 col-lg-offset-2">
    <img class="img-responsive" src="img/06_team/separator.gif">
  </div>
</div>
