<div class="branch-head">
  <div class="top">

    <div class="branch-link">
      <div class="col-xs-6 col-lg-6 branch-link-left">
        <a href="#" data-animation="14" data-next="2">
          <img src="img/02_main/arrow_discover_left.png">
          <p>Science &<br>Tech</p>
        </a>
      </div>
      <div class="col-xs-6 col-lg-6 branch-link-right">
        <a href="#" data-animation="13" data-next="4">
          <p>Customers &<br>Services</p>
          <img src="img/02_main/arrow_discover_right.png">
        </a>
      </div>
    </div>

    <div class="branch-content">
      <div class="col-xs-10 col-lg-10 col-xs-offset-1 col-lg-offset-1">
        <h4 class="branch-name">Design & Development</h4>
        <h2 class="branch-title">Giving form to innovation</h2>
        <p class="branch-description">User experience and adoption of our technical solutions</br> are two of our core values.
          We partner with our clients</br> during all phases of the development process,</br> assisting them to take advantage of
          what we're creating.</p>
      </div>
    </div>

    <div class="branch-image">
      <img src="img/04_design/apple_design.png">
    </div>
  </div>
</div> <!--<end head-->

<div class="branch-content-resp row" id="home">

  <!-- <img class="img-responsive col-xs-12" src="/img/04_design/design_present.jpg"></img>
  <div class="image-text">
    <div class="description-image-text-title">
      <p>Title</p>
    </div>
    <div class="description-image-text">
      <p>TestoTestoTestoTestoTesto<br>TestoTestoTestoTesto<br>TestoTestoTesto<br>Testo<br>TestoTestoTesto<br>TestoTesto<br></p>
    </div>
  </div> -->
  <div class="row black">
    <img class="img-responsive col-xs-12" src="/img/04_design/design_present.jpg"></img>
  </div>

  <div class="row branch-black">
    <div class="container black">
      <div class="row black">
        <div class="col-xs-12 col-sm-4 col-lg-4 black-div" data-hash="#dataengineering">
	  <img src="/img/00_common/apple_icon_branch.png"></img>
          <p class="apple-white-branch">Data Engineering</p>
          <div class="branch-detail-link branch-detail-link-black" >
            <p class="discover discover-white">discover more</p>
            <img src="img/00_common/arrow_discover_more.png">
          </div>
        </div>
        <div class="col-xs-12 col-sm-4 col-lg-4 black-div" data-hash="#applicationdesign">
	  <img src="/img/00_common/apple_icon_branch.png"></img>
          <p class="apple-white-branch">Application Design</p>
          <div class="branch-detail-link branch-detail-link-black" >
            <p class="discover-white">discover more</p>
            <img src="img/00_common/arrow_discover_more.png">
          </div>
        </div>
        <div class="col-xs-12 col-sm-4 col-lg-4 black-div" data-hash="#softwaredevelopment">
	  <img src="/img/00_common/apple_icon_branch.png"></img>
          <p class="apple-white-branch">Software Development</p>
          <div class="branch-detail-link branch-detail-link-black" >
            <p class="discover-white">discover more</p>
            <img src="img/00_common/arrow_discover_more.png">
          </div>
        </div>
      </div>
    </div>
  </div>
</div>


<div class="branch-content-resp row" id="dataengineering">
  <div class="col-xs-8 col-lg-8 col-xs-offset-2 col-lg-offset-2">
    <img src="img/00_common/apple_01.jpg" class="branch-section-icon">
    <h2 class="branch-title">Data Engineering</h2>
    <p class="branch-description">We build systems that manage, integrate and distill information from
      data, from single-instance applications to highly distributed infrastructure on the cloud</p>
    </div>

    <div class="col-xs-6 col-lg-6 col-xs-offset-3 col-lg-offset-3">
        <p class="branch-description-list">Process automation, data flow, business rule engines, real-time data analytics.</p>
    </div>

    <div class="col-xs-6 col-lg-6 col-xs-offset-3 col-lg-offset-3 separator-div">
    </div>

    <div class="col-xs-6 col-lg-6 col-xs-offset-3 col-lg-offset-3">
      <p class="branch-description-list">Cloud-based distributed systems for data-intenstive applications and high performance computing.</p>
    </div>

    <div class="col-xs-6 col-lg-6 col-xs-offset-3 col-lg-offset-3 separator-div">
    </div>

    <div class="col-xs-6 col-lg-6 col-xs-offset-3 col-lg-offset-3" style="z-index:5">
      <p class="branch-description-list">Relational, NoSQL and graph databases - PostgreSQL, Cassandra, Riak, CouchDb, Redis, Neo4j, OrientDb, Datomic.</p>
    </div>
  <div class="row">
    <img class="img-responsive col-xs-12 img-branches" src="img/04_design/data_eng.jpg"></img>
  </div>
</div>

<div class="branch-content-resp row" id="applicationdesign">
  <div class="col-xs-8 col-lg-8 col-xs-offset-2 col-lg-offset-2">
    <img src="img/00_common/apple_02.jpg" class="branch-section-icon">
    <h2 class="branch-title">Application Design</h2>
    <p class="branch-description">Our ultimate goal is allowing our end-users to manage complexity and expand their possibilities
      by crafting our technology into the perfect tool.
    </p>
  </div>

  <div class="col-xs-6 col-lg-6 col-xs-offset-3 col-lg-offset-3">
      <p class="branch-description-list">User interface design, 2D and 3D visualization - d3.js, three.js, WebGL, VTK, OpenGL.</p>
  </div>

  <div class="col-xs-6 col-lg-6 col-xs-offset-3 col-lg-offset-3 separator-div">
  </div>

  <div class="col-xs-6 col-lg-6 col-xs-offset-3 col-lg-offset-3">
    <p class="branch-description-list">Native and HTML5 mobile and desktop applications - iOS, Android, node-WebKit, Cocoa, Qt.</p>
  </div>

  <div class="col-xs-6 col-lg-6 col-xs-offset-3 col-lg-offset-3 separator-div">
  </div>

  <div class="col-xs-6 col-lg-6 col-xs-offset-3 col-lg-offset-3" style="z-index:5">
    <p class="branch-description-list">Full-stack web applications - React.js, Angular.js, Clojure/ClojureScript, node.js, Go.</p>
  </div>

  <div class="row">
    <img class="img-responsive col-xs-12 img-branches" src="img/04_design/application_design.jpg"></img>
  </div>
</div>

<div class="branch-content-resp row" id="softwaredevelopment">
  <div class="col-xs-8 col-lg-8 col-xs-offset-2 col-lg-offset-2">
    <img src="img/00_common/apple_03.jpg" class="branch-section-icon">
    <h2 class="branch-title">Software Development</h2>
    <p class="branch-description">We enjoy creating software in our dynamic and polyglot environment. We design our software meticulously,
      making sure it's testable and resilient to failure right from the start.
    </p>
  </div>

  <div class="col-xs-6 col-lg-6 col-xs-offset-3 col-lg-offset-3">
      <p class="branch-description-list">Programming languages: C, C++, Clojure, JavaScript, ki, Python, Lua, ObjectiveC, Java, Go, Rust, R.</p>
  </div>

  <div class="col-xs-6 col-lg-6 col-xs-offset-3 col-lg-offset-3 separator-div">
  </div>

  <div class="col-xs-6 col-lg-6 col-xs-offset-3 col-lg-offset-3">
    <p class="branch-description-list">Machine learning: Torch7, Theano, pylearn2, scikit-learn, Balsa.</p>
  </div>

  <div class="col-xs-6 col-lg-6 col-xs-offset-3 col-lg-offset-3 separator-div">
  </div>

  <div class="col-xs-6 col-lg-6 col-xs-offset-3 col-lg-offset-3" style="z-index:5">
    <p class="branch-description-list">Computing: ITK, VTK, 3DSlicer, OpenCV, NumPy, Eigen, libMesh, PETSc, MPI.</p>
  </div>

  <div class="row">
    <img class="img-responsive col-xs-12 img-branches" src="img/04_design/software_development.jpg"></img>
  </div>
</div>
