<div class="branch-head">
  <div class="top">

    <div class="branch-link">
      <div class="col-xs-6 col-lg-6 branch-link-left">
        <a href="#" data-animation="14" data-next="2">
          <img src="img/02_main/arrow_discover.png">
          <p>Science &<br>Tech</p>
        </a>
      </div>
      <div class="col-xs-6 col-lg-6 branch-link-right">
        <a href="#" data-animation="13" data-next="4">
          <p>Customers &<br>Services</p>
          <img src="img/02_main/arrow_discover.png">
        </a>
      </div>
    </div>

    <div class="branch-content row">
      <div class="col-xs-8 col-lg-6 col-xs-offset-2 col-lg-offset-3">
        <h4 class="branch-name">Design & Development</h4>
        <h2 class="branch-title">Giving form to innovation</h2>
        <p class="branch-description">User experience and adoption of our technical solutions are two of our core values.
          We partner with our clients during all phases of the development process, assisting them to take advantage of
          what we're creating.</p>
      </div>
    </div>

    <div class="branch-image row">
      <img src="img/04_design/apple_design.png" class="img-responsive">
      <div class="bottom row">
        <div class="branch-detail-link">
          <img class="img-arrow-branch-detail-link"src="img/02_main/arrow_discover.png">
        </div>
      </div>
    </div>
  </div>
</div> <!--<end head-->

<div class="branch-content branch-content-1">
  <div class="col-xs-5 col-xs-offset-5 row top">
    <!--<div class="description">
      <h3>Title</h3>
      <p>TestoTestoTestoTestoTesto<br>TestoTestoTestoTesto<br>TestoTestoTesto<br>Testo<br>TestoTestoTesto<br>TestoTesto<br></p>
    </div>
    <a class="link" href="#">
      <h4 class="name">Michele Colombi</h4>
      <p class="role">about<img src="img/00_common/arrow_about_w.png"></p>
    </a>-->
  </div>
  <div class="col-xs-12 row bottom">
    <div class="col-xs-4" data-hash="#applicationdesign">
      <img src="img/00_common/apple_icon_branch.png">
      <h4 class="branch-detail-title">Application Design</h4>
      <div class="branch-detail-link">
        <p>discover more</p>
        <img src="img/00_common/arrow_discover_more.png">
      </div>
    </div>
    <div class="col-xs-4 col-xs-offset-4" data-hash="#infrastructuredesign">
      <img src="img/00_common/apple_icon_branch.png">
      <h4 class="branch-detail-title">Infrastructure Design</h4>
      <div class="branch-detail-link">
        <p>discover more</p>
        <img src="img/00_common/arrow_discover_more.png">
      </div>
    </div>
    <div class="col-xs-4 col-xs-offset-8" data-hash="#softwaredevelopment">
      <img src="img/00_common/apple_icon_branch.png">
      <h4 class="branch-detail-title">Software Development</h4>
      <div class="branch-detail-link">
        <p>discover more</p>
        <img src="img/00_common/arrow_discover_more.png">
      </div>
    </div>
  </div>
</div>

<div class="branch-content-resp row">
  <div class="col-xs-8 col-lg-6 col-xs-offset-2 col-lg-offset-3">
    <img src="img/00_common/apple_01.jpg" class="branch-section-icon">
    <h2 class="branch-title">Application Design</h2>
    <p class="branch-description">Our ultimate goal is allowing our end-users to manage complexity and expand their possibilities
      by crafting our technology into the perfect tool.
    </p>
  </div>
  <div class="col-xs-12 col-lg-12 col-branch">
    <div class="branch-content branch-content-2" id="applicationdesign"></div>
  </div>
</div>

<div class="branch-content-resp row">
  <div class="col-xs-8 col-lg-6 col-xs-offset-2 col-lg-offset-3">
    <img src="img/00_common/apple_02.jpg" class="branch-section-icon">
    <h2 class="branch-title">Infrastructure Design</h2>
    <p class="branch-description">We are passionate about creating the right infrastructure at the right scale, from single-instance
      applications to highly distributed systems on the cloud.
    </p>
  </div>
  <div class="col-xs-12 col-lg-12 col-branch">
    <div class="branch-content branch-content-3" id="infrastructuredesign"></div>
  </div>
</div>

<div class="branch-content-resp row">
  <div class="col-xs-8 col-lg-6 col-xs-offset-2 col-lg-offset-3">
    <img src="img/00_common/apple_03.jpg" class="branch-section-icon">
    <h2 class="branch-title">Software Development</h2>
    <p class="branch-description">We enjoy creating software in our dynamic and polyglot environment. We design our software meticulously,
      making sure it's testable and resilient to failure right from the start.
    </p>
  </div>
  <div class="col-xs-12 col-lg-12 col-branch">
    <div class="branch-content branch-content-4" id="softwaredevelopment">  </div>
  </div>
</div>


<!--{% include footer.html %}-->
