<div class="branch-head">
  <div class="top">

    <div class="branch-link">
      <div class="col-xs-6 col-lg-6 branch-link-left">
        <a href="#" data-animation="14" data-next="2">
          <img src="img/02_main/arrow_discover_left.png">
          <p>Science &<br>Tech</p>
        </a>
      </div>
      <div class="col-xs-6 col-lg-6 branch-link-right">
        <a href="#" data-animation="13" data-next="4">
          <p>Customers &<br>Services</p>
          <img src="img/02_main/arrow_discover_right.png">
        </a>
      </div>
    </div>

    <div class="branch-content">
      <div class="col-xs-10 col-lg-10 col-xs-offset-1 col-lg-offset-1">
        <h4 class="branch-name">Design & Development</h4>
        <h2 class="branch-title">Giving form to innovation</h2>
        <p class="branch-description">User experience and adoption of our technical solutions are two of our core values.</br>
          We partner with our clients during all phases of the development process,</br> assisting them to take advantage of
          what we're creating.</p>
      </div>
    </div>

    <div class="branch-image">
      <img src="img/04_design/apple_design.png">
      <div class="branch-detail-link">
        <img class="img-arrow-branch-detail-link"src="img/02_main/arrow_discover.png" data-hash="#applicationdesign">
      </div>
    </div>
  </div>
</div> <!--<end head-->

<!-- <div class="branch-content branch-content-1 row" id="home">
  <div class="col-xs-5 col-xs-offset-5 row top">
    <div class="description">
      <h3>Title</h3>
      <p>TestoTestoTestoTestoTesto<br>TestoTestoTestoTesto<br>TestoTestoTesto<br>Testo<br>TestoTestoTesto<br>TestoTesto<br></p>
    </div>
    <a class="link" href="#">
      <h4 class="name">Orobix</h4>
      <p class="role">about<img src="img/00_common/arrow_about_w.png"></p>
    </a>
  </div>
</div> -->

<div class="branch-content-resp row" id="home">
  <div class="row">
    <img class="img-responsive" src="/img/04_design/design_present.jpg"></img>
  </div>

  

</div>

<div class="branch-content-resp row" id="dataengineering">
  <div class="col-xs-8 col-lg-8 col-xs-offset-2 col-lg-offset-2">
    <img src="img/00_common/apple_01.jpg" class="branch-section-icon">
    <h2 class="branch-title">Data Engineering</h2>
    <p class="branch-description">We build systems that manage, integrate and distill information from
      data, from single-instance applications to highly distributed infrastructure on the cloud</p>

      <p class="branch-description">Process automation, data flow, business rule engines, real-time data analytics.</p>

      <img class="img-responsive" src="img/06_team/separator.gif">

      <p class="branch-description">Cloud-based distributed systems for data-intenstive applications and high performance computing.</p>

      <img class="img-responsive" src="img/06_team/separator.gif">

      <p class="branch-description">Relational, NoSQL and graph databases - PostgreSQL, Cassandra, Riak, CouchDb, Redis, Neo4j, OrientDb, Datomic.</p>

  </div>
  <div class="row">
    <img class="img-responsive" src="img/04_design/data_eng.jpg"></img>
  </div>
</div>

<div class="branch-content-resp row" id="applicationdesign">
  <div class="col-xs-8 col-lg-8 col-xs-offset-2 col-lg-offset-2">
    <img src="img/00_common/apple_02.jpg" class="branch-section-icon">
    <h2 class="branch-title">Application Design</h2>
    <p class="branch-description">Our ultimate goal is allowing our end-users to manage complexity and expand their possibilities
      by crafting our technology into the perfect tool.
    </p>

    <p class="branch-description">User interface design, 2D and 3D visualization - d3.js, three.js, WebGL, VTK, OpenGL.</p>

    <img class="img-responsive" src="img/06_team/separator.gif">

    <p class="branch-description">Native and HTML5 mobile and desktop applications - iOS, Android, node-WebKit, Cocoa, Qt.</p>

    <img class="img-responsive" src="img/06_team/separator.gif">

    <p class="branch-description">Full-stack web applications - React.js, Angular.js, Clojure/ClojureScript, node.js, Go.</p>

  </div>
  <div class="row">
    <img class="img-responsive" src="img/04_design/application_design.jpg"></img>
  </div>
</div>

<div class="branch-content-resp row" id="softwaredevelopment">
  <div class="col-xs-8 col-lg-8 col-xs-offset-2 col-lg-offset-2">
    <img src="img/00_common/apple_03.jpg" class="branch-section-icon">
    <h2 class="branch-title">Software Development</h2>
    <p class="branch-description">We enjoy creating software in our dynamic and polyglot environment. We design our software meticulously,
      making sure it's testable and resilient to failure right from the start.
    </p>

    <p class="branch-description">Programming languages: C, C++, Clojure, JavaScript, ki, Python, Lua, ObjectiveC, Java, Go, Rust, R.</p>

    <img class="img-responsive" src="img/06_team/separator.gif">

    <p class="branch-description">Machine learning: Torch7, Theano, pylearn2, scikit-learn, Balsa.</p>

    <img class="img-responsive" src="img/06_team/separator.gif">

    <p class="branch-description">Computing: ITK, VTK, 3DSlicer, OpenCV, NumPy, Eigen, libMesh, PETSc, MPI.</p>

  </div>
  <div class="row">
    <img class="img-responsive" src="img/04_design/software_development.jpg"></img>
  </div>
</div>
