


<div class="branch-content-resp row" id="how-we-work">

  <div class="container-fluid how-background">
    <h2 class="branch-title-grey-content-how">How we work</h2>

    <p class="col-xs-10 col-xs-offset-1 branch-description-header">
      Deep learning, the technique that is revolutionizing the world, is at the heart of our solutions. </br>
      We have a team dedicated to it.
    </p>
    <p class="col-xs-10 col-xs-offset-1 branch-description-header-2">
      On the other end, our engineers break down real-world problems  </br>
      and tailor our solutions to specific applications and end-users.  </br>
      Our computer science team provides the technological foundation </br>
      and makes sure our software is sound, scalable and resilient.
    </p>

  </div>

  <!-- <div class="col-xs-8 col-lg-8 col-xs-offset-2 col-lg-offset-2">
    <h2 class="branch-title">How we work</h2>
    <p class="branch-description">Deep learning, the technique that is revolutionizing the world, is at the heart of our solutions -
      we have a team dedicated to it. On the other end, our engineers break down real-world problems and tailor our solutions to specific
      applications and end-users. Our computer science team provides the technological foundation and makes sure our software is sound, scalable and resilient. </p>
  </div> -->


</div>

<div id="how-container" class="container-fluid centercontents">


  <div class="col-xs-12 col-sm-4">
    <h2 class="branch-title-grey-how">Math</h2>
    <p class="branch-description-list">Deep learning</p>
    <p class="branch-description-list">Mathematical modelling </p>
    <p class="branch-description-list">Optimization</p>
    <p class="branch-description-list">Data analytics</p>
  </div>


  <div class="col-xs-12 col-sm-4">
    <h2 class="branch-title-grey-how">Engineering</h2>
    <p class="branch-description-list">System engineering</p>
    <p class="branch-description-list">Numerical simulation</p>
    <p class="branch-description-list">Computational geometry</p>
    <p class="branch-description-list">Visualization</p>
  </div>

  <div class="col-xs-12 col-sm-4">
    <h2 class="branch-title-grey-how">Computer Science</h2>
    <p class="branch-description-list">Software architecture</p>
    <p class="branch-description-list">Software development</p>
    <p class="branch-description-list">Distributed systems</p>
    <p class="branch-description-list">Cloud computing</p>
  </div>

</div>

<div class="row">
  <img class="img-responsive col-xs-12 img-branches" src="img/04_design/software_development.jpg"></img>
</div>

<!-- <div class="branch-content-resp row" id="math">
  <div class="col-xs-10 col-lg-8 col-lg-offset-2 col-xs-offset-1 what-sections">
    <h2 class="branch-title-grey">Math</h2>
    <p class="branch-description">Our mathematicians use deep learning, <br> to design the heart of our solutions.</p>
  </div>

  <div class="col-xs-10 col-lg-8 col-xs-offset-1 col-lg-offset-2">
      <p class="branch-description-list">Deep learning</p>
  </div>

  <div class="col-xs-10 col-lg-8 col-xs-offset-1 col-lg-offset-2 separator-div">
  </div>

  <div class="col-xs-10 col-lg-8 col-xs-offset-1 col-lg-offset-2" style="z-index:5">
    <p class="branch-description-list">Mathematical modelling </p>
  </div>

  <div class="col-xs-10 col-lg-8 col-xs-offset-1 col-lg-offset-2 separator-div">
  </div>

  <div class="col-xs-10 col-lg-8 col-xs-offset-1 col-lg-offset-2">
    <p class="branch-description-list">Optimization</p>
  </div>

  <div class="col-xs-10 col-lg-8 col-xs-offset-1 col-lg-offset-2 separator-div">
  </div>

  <div class="col-xs-10 col-lg-8 col-xs-offset-1 col-lg-offset-2" style="z-index:5">
    <p class="branch-description-list">Data analytics</p>
  </div>

</div>

<div class="branch-content-resp row" id="eng">
  <div class="col-xs-10 col-lg-8 col-lg-offset-2 col-xs-offset-1 what-sections">
    <h2 class="branch-title-grey">Engineering</h2>
    <p class="branch-description">Our engineers break down real-world problems and
     tailor <br>our solutions to specific end-user applications.</p>
  </div>

  <div class="col-xs-10 col-lg-8 col-xs-offset-1 col-lg-offset-2">
      <p class="branch-description-list">System engineering</p>
  </div>

  <div class="col-xs-10 col-lg-8 col-xs-offset-1 col-lg-offset-2 separator-div">
  </div>

  <div class="col-xs-10 col-lg-8 col-xs-offset-1 col-lg-offset-2" style="z-index:5">
    <p class="branch-description-list">Numerical simulation</p>
  </div>

  <div class="col-xs-10 col-lg-8 col-xs-offset-1 col-lg-offset-2 separator-div">
  </div>

  <div class="col-xs-10 col-lg-8 col-xs-offset-1 col-lg-offset-2">
    <p class="branch-description-list">Computational geometry</p>
  </div>

  <div class="col-xs-10 col-lg-8 col-xs-offset-1 col-lg-offset-2 separator-div">
  </div>

  <div class="col-xs-10 col-lg-8 col-xs-offset-1 col-lg-offset-2" style="z-index:5">
    <p class="branch-description-list">Visualization</p>
  </div>

</div>

<div class="branch-content-resp row" id="cs">
  <div class="col-xs-10 col-lg-8 col-lg-offset-2 col-xs-offset-1 what-sections">
    <h2 class="branch-title-grey">Computer Science</h2>
    <p class="branch-description">Our computer scientists provide the technological foundation and
     make<br> sure our software is sound, scalable and resilient</p>
  </div>

  <div class="col-xs-10 col-lg-8 col-xs-offset-1 col-lg-offset-2">
      <p class="branch-description-list">Software architecture</p>
  </div>

  <div class="col-xs-10 col-lg-8 col-xs-offset-1 col-lg-offset-2 separator-div">
  </div>

  <div class="col-xs-10 col-lg-8 col-xs-offset-1 col-lg-offset-2" style="z-index:5">
    <p class="branch-description-list">Software development</p>
  </div>

  <div class="col-xs-10 col-lg-8 col-xs-offset-1 col-lg-offset-2 separator-div">
  </div>

  <div class="ccol-xs-10 col-lg-8 col-xs-offset-1 col-lg-offset-2">
    <p class="branch-description-list">Distributed systems</p>
  </div>

  <div class="col-xs-10 col-lg-8 col-xs-offset-1 col-lg-offset-2 separator-div">
  </div>

  <div class="col-xs-10 col-lg-8 col-xs-offset-1 col-lg-offset-2" style="z-index:5">
    <p class="branch-description-list">Cloud computing</p>
  </div>

  <div class="row">
    <img class="img-responsive col-xs-12 img-branches" src="img/04_design/software_development.jpg"></img>
  </div>

</div>
-->
