<div class="main-content-contact">
    <div class="row products-black vmtklab">

      <div class="col-xs-12 col-sm-12 col-lg-10 col-lg-offset-1">
        <img src="img/08_products/logo_vmtk_lab.jpg">
        <p class="branch-description-white">workflow-oriented graphical application </br> for image-based modeling</p>
        <a class="white-a"target="_blank" href="http://vmtklab.orobix.com">
          discover more
          <img src="img/02_main/arrow_branch_white.png">
        </a>
      </div>

    </div>

    <div class="row products-white">
      <h4 class="branch-name">dicom Next</h4>

      <div class="col-xs-12 col-sm-12 col-lg-10 col-lg-offset-1">
        <p class="branch-description">the next cross-platform, extensible DICOM viewer</p>
        <a target="_blank" href="http://dicomnext.orobix.com">
          discover more
          <img src="img/02_main/arrow_branch.png">
        </a>
      </div>

    </div>

    <div class="row products-black">
      <h4 class="branch-name">vmtk</h4>

      <div class="col-xs-12 col-sm-12 col-lg-10 col-lg-offset-1">
        <p class="branch-description">open-source tool for 3D reconstruction, geometric analysis, mesh generation and post-processing for vessel morphology and hemodynamics</p>
        <a target="_blank" href="http://www.vmtk.org">
          discover more
          <img src="img/02_main/arrow_branch.png">
        </a>
      </div>
    </div>

    <div class="row products-white">
      <h4 class="branch-name">Invariant</h4>

      <div class="col-xs-12 col-sm-12 col-lg-10 col-lg-offset-1">
        <p class="branch-description">distributing data and computations for data warehousing, high-performance computing and machine learning</p>
        <a target="_blank" href="http://invariant.orobix.com">
          discover more
          <img src="img/02_main/arrow_branch.png">
        </a>
      </div>
    </div>

</div>
