<div class="main-content-products">

  <div id="spin-outs-header" class="row spin-background">

    <div class="col-xs-12 col-md-8 col-md-offset-2 spin-header-p">

      <h2 class="branch-title-grey-content-products">Spin-outs</h2>

      <p class="branch-description">
      Spin outs are verticalizations of our technologies in specific domains. </br>
      They typically stem from internal projects and grow up to become full-blown, </br>
      self-sustained products and services, each with their own brand.
      </p>

    </div>

  </div>

  <!-- <div class="col-xs-6 col-lg-6 col-xs-offset-3 col-lg-offset-3 separator-div">
  </div> -->

  <div id="deepray-container" class="row">
    <div class="col-xs-12 deepray">
      <div id="spin-out-box">
        <img id="logo-products" src="img/08_products/deep_ray_logo.svg">
        <p id="description-products" class="branch-description-product">Artificial intelligence applied towards zero defects production</p>
        <a class="btn btn-default btn-products" target="_blank" href="http://www.deep-ray.com" role="button">discover</a>
      </div>
    </div>
  </div>

  <div id="vmtklab-container" class="row">
    <div class="col-xs-12 vmtklab">
      <div id="spin-out-box">
        <img id="logo-products" src="img/08_products/vmtklab_logo.svg">
        <p id="description-products" class="branch-description-product">Workflow-oriented graphical application for image-based modeling</p>
        <a class="btn btn-default btn-products" target="_blank" href="http://vmtklab.orobix.com" role="button">discover</a>
      </div>
    </div>
  </div>

  <div id="invariant-container" class="row">
    <div class="col-xs-12 invariant">
      <div id="spin-out-box">
        <img id="logo-products" src="img/08_products/logo_invariant.svg">
        <p id="description-products" class="branch-description-product"></p>
        <a class="btn btn-default btn-products disabled" target="_blank" href="" role="button">discover</a>
      </div>
    </div>
  </div>
</div>


<!-- <div class="col-xs-12 col-sm-4 vmtklab">
  <div id="spin-out-box">
    <img id="logo-products" src="img/08_products/logo_vmtk_lab.png">
    <p id="description-products" class="branch-description-white-product">workflow-oriented graphical application </br> for image-based modeling </p>
    <a class="btn btn-default btn-products" target="_blank" href="http://vmtklab.orobix.com" role="button">discover</a>
  </div>
</div>


<div class="col-xs-12 col-sm-4 deepray">
  <div id="spin-out-box">
    <img id="logo-products" src="img/08_products/logo_deep-ray.png">
    <p id="description-products" class="branch-description-white-product">Artificial intelligence applied</br> towards zero defects production</p>
    <a class="btn btn-default btn-products" target="_blank" href="http://www.deep-ray.com" role="button">discover</a>
    </div>
</div>

<div class="col-xs-12 col-sm-4 invariant">
  <div id="spin-out-box">
    <img id="logo-products" class="logo-invariant" src="img/08_products/logo_invariant.png">
  </div>
</div> -->
