<div class="main-content-contact">

  <div class="row">
    <h4 class="branch-name">Partners & Customers</h4>
  </div>

    <div class="container">

      <div class="row">
        <div class="col-xs-6 col-sm-4 col-lg-3">
          <div class="thumbnail">
            <a href="http://www.cilea.it" target="_blank"> <img src="img/09_clients/logo_Cilea.png" alt="Cilea"> </a>
          </div>
        </div>
        <div class="col-xs-6 col-sm-4 col-lg-3">
          <div class="thumbnail">
            <a href="http://www.marionegri.it" target="_blank"> <img src="img/09_clients/logo_IRFMN.png" alt="MNI"> </a>
          </div>
        </div>
        <div class="col-xs-6 col-sm-6 col-lg-3">
          <div class="thumbnail">
            <a href="http://www.unibg.it" target="_blank"> <img src="img/09_clients/logo_uniBG.png" alt="uniBG"> </a>
          </div>
        </div>
        <div class="col-xs-6 col-sm-6 col-lg-3">
          <div class="thumbnail">
            <a href="http://www.ieo.it" target="_blank"> <img src="img/09_clients/logo_IEO.png" alt="IEO"> </a>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-xs-6 col-sm-4 col-lg-3">
          <div class="thumbnail">
            <a href="http://www.innowatio.it" target="_blank"> <img src="img/09_clients/logo_Innowatio.png" alt="Innowatio"> </a>
          </div>
        </div>
        <div class="col-xs-6 col-sm-4 col-lg-3">
          <div class="thumbnail">
            <a href="http://www.otsuka-global.com" target="_blank"> <img src="img/09_clients/logo_Otsuka.jpg" alt="Otsuka"> </a>
          </div>
        </div>
        <div class="col-xs-6 col-sm-6 col-lg-3">
          <div class="thumbnail">
            <a href="http://www.nestle.it" target="_blank"> <img src="img/09_clients/logo_Nestle.png" alt="Nestle"> </a>
          </div>
        </div>
        <div class="col-xs-6 col-sm-6 col-lg-3">
          <div class="thumbnail">
            <a href="http://www.istitutotumori.it" target="_blank"> <img src="img/09_clients/logo_IstitutoTumori.png" alt="Istituto Tumori Milano"> </a>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-xs-6 col-sm-4 col-lg-3">
          <div class="thumbnail">
            <a href="http://www.emory.edu" target="_blank"> <img src="img/09_clients/logo_Emory.png" alt="Emory University"> </a>
          </div>
        </div>
        <div class="col-xs-6 col-sm-4 col-lg-3">
          <div class="thumbnail">
            <a href="http://www.iowa.edu" target="_blank"> <img src="img/09_clients/logo_uniIOWA.png" alt="IOWA University"> </a>
          </div>
        </div>
        <div class="col-xs-6 col-sm-6 col-lg-3">
          <div class="thumbnail">
            <a href="http://www.utoronto.ca" target="_blank"> <img src="img/09_clients/logo_uniTOR.png" alt="Toronto University"> </a>
          </div>
        </div>
        <div class="col-xs-6 col-sm-6 col-lg-3">
          <div class="thumbnail">
            <a href="http://www.buffalo.edu" target="_blank"> <img src="img/09_clients/logo_uniBUF.png" alt="BUffalo University"> </a>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-xs-6 col-sm-4 col-lg-3">
          <div class="thumbnail">
            <a href="http://www.polimi.it" target="_blank"> <img src="img/09_clients/logo_poliMI.png" alt="Politecnico of Milan"> </a>
          </div>
        </div>
        <div class="col-xs-6 col-sm-4 col-lg-3">
          <div class="thumbnail">
            <a href="http://www.unifi.it" target="_blank"> <img src="img/09_clients/logo_uniFI.png" alt="University of Florence"> </a>
          </div>
        </div>
        <div class="col-xs-6 col-sm-6 col-lg-3">
          <div class="thumbnail">
            <a href="http://www.univr.it" target="_blank"> <img src="img/09_clients/logo_uniVR.png" alt="University of Verona"> </a>
          </div>
        </div>

      </div>

    </div>


  <div class="row row-bottom">
    <h4 class="branch-name">European Projects</h4>
    <div class="col-xs-12 col-sm-6 col-lg-4">
      <p class="branch-description"><a href="http://www.active-fp7.eu" target="_blank">Active</a></p>
      <p class="branch-description"><a href="http://archtk.github.io" target="_blank">ARCH</a></p>
      <p class="branch-description"><a href="http://ec.europa.eu/research/health/medical-research/brain-research/projects/creactive_en.html" target="_blank">Creactive</a></p>
    </div>
    <div class="col-xs-12 col-sm-6 col-lg-4">
      <p class="branch-description"><a href="http://www-2.unipv.it/compmech/icardiocloud.html" target="_blank">I-Cardio Cloud</a></p>
      <p class="branch-description"><a href="http://www.giviti.marionegri.it/Prosafe.asp" target="_blank">PROSAFE</a></p>
      <p class="branch-description"><a href="http://revammad.blogs.lincoln.ac.uk" target="_blank">REVAMMAD</a></p>
    </div>
    <div class="col-xs-12 col-sm-6 col-lg-4">
      <p class="branch-description"><a href="http://www.robocast.eu" target="_blank">Robocast</a></p>
      <p class="branch-description"><a href="http://www.smartaging.eu" target="_blank">Smart Aging</a></p>
    </div>
  </div>

</div>
