<div class="branch-head">
  <div class="top">

    <div class="branch-link">
      <div class="col-xs-6 col-lg-6 branch-link-left">
        <a href="#" data-animation="14" data-next="4">
          <img src="img/02_main/arrow_discover_left.png">
          <p>Customers &<br>Services</p>
        </a>
      </div>
      <div class="col-xs-6 col-lg-6 branch-link-right">
        <a href="#" data-animation="13" data-next="3">
          <p>Design &<br>Development</p>
          <img src="img/02_main/arrow_discover_right.png">
        </a>
      </div>
    </div>

    <div class="branch-content">
      <div class="col-xs-9 col-lg-9 col-xs-offset-2 col-lg-offset-2">
        <h4 class="branch-name">Science & Tech</h4>
        <h2 class="branch-title">Revealing the essential</h2>
        <p class="branch-description">Our job is to make complexity manageable,</br> empowering our end-users with the ability to see
          into phenomena </br> and processes with a quantitative eye and make better,</br> more informed decisions</p>
      </div>

      <div class="branch-image">
        <img src="img/03_science/apple_science.png">
        <div class="branch-detail-link">
          <img class="img-arrow-branch-detail-link" src="img/02_main/arrow_discover.png" data-hash="#modeling">
        </div>
      </div>
    </div>

  </div>
</div> <!--<end head-->


<div class="branch-content branch-content-1" id="home">
  <div class="col-xs-5 col-xs-offset-5 row top">
    <div class="description">
      <h3>Title</h3>
      <p>TestoTestoTestoTestoTesto<br>TestoTestoTestoTesto<br>TestoTestoTesto<br>Testo<br>TestoTestoTesto<br>TestoTesto<br></p>
    </div>
    <!-- <a class="link" href="#">
      <h4 class="name">Luca Antiga</h4>
      <p class="role">about Principal Scientist<img src="img/00_common/arrow_about_w.png"></p>
    </a> -->
  </div>
</div>


<div class="branch-content-resp row" id="machinelearning">
  <div class="col-xs-8 col-lg-8 col-xs-offset-2 col-lg-offset-2">
    <img src="img/00_common/apple_01.jpg" class="branch-section-icon">
    <h2 class="branch-title">Machine Learning</h2>
    <p class="branch-description">We leverage the most recent advances in machine learning to make patterns emerge from data, identify behaviors,
      exploit similarities and build knowledge from experience.</p>

      <p class="branch-description">Random decision forests for classification, regression, manifold learning.</p>

      <img class="img-responsive" src="img/06_team/separator.gif">

      <p class="branch-description">Deep learning, convolutional networks, restricted Boltzmann machines.</p>

      <img class="img-responsive" src="img/06_team/separator.gif">

      <p class="branch-description">Cortical learning algorithms. Support vector machines.</p>

  </div>
  <div class="col-xs-12 col-lg-12 col-branch">
    <div class="branch-content branch-content-4" ></div>
  </div>
</div>

<div class="branch-content-resp row" id="imageanalysis">
  <div class="col-xs-8 col-lg-8 col-xs-offset-2 col-lg-offset-2">
    <img src="img/00_common/apple_02.jpg" class="branch-section-icon">
    <h2 class="branch-title">Image Analysis</h2>
    <p class="branch-description">We build systems with the ability to pick out quantitative information and semantic content from
      imaging data - for medicine, manufacturing, robotics and logistics.</p>

      <p class="branch-description">Automated segmentation from multi-modal medical imaging data.</p>

      <img class="img-responsive" src="img/06_team/separator.gif">

      <p class="branch-description">Computer vision, object recognition, anomaly detection, semantic image retrieval.</p>

      <img class="img-responsive" src="img/06_team/separator.gif">

      <p class="branch-description">Active shape models, computational geometry, shape description.</p>

  </div>
  <div class="col-xs-12 col-lg-12 col-branch">
    <div class="branch-content branch-content-3"></div>
  </div>
</div>

<div class="branch-content-resp row" id="modeling">
  <div class="col-xs-8 col-lg-8 col-xs-offset-2 col-lg-offset-2">
    <img src="img/00_common/apple_03.jpg" class="branch-section-icon">
    <h2 class="branch-title">Modeling</h2>
    <p class="branch-description">We apply mathematics and engineering to better understand reality, from biological processes to manufacturing,
      to financial transactions.</p>

      <p class="branch-description">Continuous and discontinuous finite elements methods, 0D/1D methods for multi-physics simulations.</p>

      <img class="img-responsive" src="img/06_team/separator.gif">

      <p class="branch-description">Computational fluid dynamics for biomedical and industrial applications.</p>

      <img class="img-responsive" src="img/06_team/separator.gif">

      <p class="branch-description">Optimized workflows for geometric pre-processing, mesh generation, post-processing.</p>

  </div>
  <div class="col-xs-12 col-lg-12 col-branch">
    <div class="branch-content branch-content-2"></div>
  </div>
</div>
