<!DOCTYPE html>
<html>
<head>
<meta name="keywords" content="open source, image analysis, clinical study, clinical trial, radiological workstation, consulting, customized, live wire" />
<link rel="stylesheet" href="/css/orobix.css" type="text/css" /> 
<link rel="stylesheet" href="/css/style.css" />
<script type="text/javascript" src="/js/jquery.min.js"></script>
<script type="text/javascript" src="/js/jquery.aw-showcase.js"></script>
<script src="/js/general_functions.js" type="text/javascript"></script>

<script src="/js/jquery-1.2.3.pack.js" type="text/javascript"></script>
<script src="/js/jquery.jcarousel.pack.js" type="text/javascript"></script>
<link rel="stylesheet" href="/css/jquery.jcarousel.css" type="text/css" />
<link rel="stylesheet" href="/css/tangoskin.css" type="text/css" />
<link rel="stylesheet" href="/css/ie7skin.css" type="text/css" />
<link rel="stylesheet" href="/css/carousel.css" type="text/css" />
<script src="/js/carousel.js" type="text/javascript"></script>

<script type="text/javascript">

var _gaq = _gaq || [];
_gaq.push(['_setAccount', 'UA-12960044-1']);
_gaq.push(['_setDomainName', 'orobix.com']);
_gaq.push(['_trackPageview']);

(function() {
  var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
  ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
  var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
})();

</script>
</head>

<body>
<div class="page_main">
  <div class="page_header">
       <div class="headerlinkscontainer">
            <a class="header_links" id="index1" href="/index_ita">Home &raquo;</a>
            <a class="header_links" id="work1" href="/Attivita">Attivit&agrave; &raquo;</a>
            <a class="header_links" id="projects1" href="/Progetti">Progetti &raquo;</a>
            <a class="header_links" id="company1" href="/Societa">Societ&agrave; &raquo;</a>
            <a class="header_links" id="contactus1" href="/Contatti">Contatti &raquo;</a>
        </div>
        <div class="language_link_container">
             <a href="/{{page.title_eng}}">eng</a>
        </div><br />
	      <a href="/index_ita"><img class="logo_no_pay_off" src="/Media/logo_no_payoff.png" alt="OROBIX" title="Orobix"/></a>
        </div>

        <div  class="page_body">
	         <div class="{{page.title}}_foo italianolanguage"></div>
           {{ content }}
        </div>

<div class="page_footer">
      	<div id="work" class="menuitem">
	<a href="/Attivita">Attivit&agrave; &raquo;</a>
	<h3>I Nostri prodotti</h3>
      	</div>
	<div id="projects" class="menuitem">
	<a href="/Progetti">Progetti &raquo;</a>
	<h3>Ricerca e Sviluppo</h3>
	</div>
	<div id="company" class="menuitem">
	<a href="/Societa">Societ&agrave; &raquo;</a>
	<h3>Chi siamo e cosa facciamo</h3>
	</div>
	<div id="contactus" class="menuitem_last">
	<a href="/Contatti">Contatti &raquo;</a>
	<h3>Come raggiungerci</h3>
	</div>
	<div class="home_info">OROBIX Srl VAT No IT 03595750161 &nbsp;&nbsp;&nbsp;</div>
</div>
</div>

</body>
</html>
