<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.1//EN" "http://www.w3.org/TR/xhtml11/DTD/xhtml11.dtd">

<html lang="en" class="no-js">
  <head>
    <title>Orobix</title>
    <meta name="format-detection" content="telephone=no"/>
    <link rel="stylesheet" href="css/bootstrap.min.css">
    <link rel="stylesheet" href="css/bootstrap-theme.min.css">
    <link rel="stylesheet" type="text/css" href="css/component.css" />
    <link rel="stylesheet" href="css/main.css">
    <!--<link rel="stylesheet" type="text/css" href="css/animations.css" />-->
    <link rel="stylesheet" type="text/css" href="css/font-awesome.min.css" />
    <link href='http://fonts.googleapis.com/css?family=Merriweather:400,300' rel='stylesheet' type='text/css'>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">


    <link rel="icon" type="image/gif" href="img/00_common/favicon.gif" />

    <!--[if lt IE 9]>
      <script src="js/html5shiv.js"></script>
      <script src="js/respond.js"></script>
    <![endif]-->
  </head>
  <body>
    <div class="socials">
      <a href="https://www.facebook.com/orobix" target="_blank"><i class="fa fa-facebook fa-2x"></i></a>
      <a href="https://twitter.com/orobix" target="_blank"><i class="fa fa-twitter fa-2x"></i></a>
      <a href="https://www.linkedin.com/company/orobix-srl" target="_blank"><i class="fa fa-linkedin fa-2x"></i></a>
      <a href="https://github.com/orobix" target="_blank"><i class="fa fa-github fa-2x"></i></a>
    </div>


    {{content}}

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
    <script src="js/modernizr.custom.js"></script>
    <script src="js/pagetransitions.js"></script>
    <script src="js/bootstrap.min.js"></script>
    <script src="js/routie.min.js"></script>
    <script src="js/routing.js"></script>
    <script type="text/javascript" async="" src="http://www.google-analytics.com/ga.js"></script>
    <script type="text/javascript">

      var _gaq = _gaq || [];
      _gaq.push(['_setAccount', 'UA-12960044-1']);
      _gaq.push(['_setDomainName', 'orobix.com']);
      _gaq.push(['_trackPageview']);

      (function() {
        var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
        ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
        var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
      })();


      $( window ).ready(function() {
        var height = $('#img-team').height();
        $('#team-all').css('height',height);
        console.log( "set height: ", height)
      });


      $( window ).resize(function() {
        console.log("resize")
        var new_height = $('#img-team').height();
        $('#team-all').css('height',new_height);
      });


    </script>
  </body>
</html>
