<!DOCTYPE html>
<html>
<head>
<meta name="keywords" content="open source, image analysis, clinical study, clinical trial, radiological workstation, consulting, customized, live wire" />
<link rel='stylesheet' href='/css/orobix.css' type='text/css' />
<script src="/js/jquery.min.js" type="text/javascript"></script>
<script src="/js/general_functions.js" type="text/javascript"></script>
<script src="/js/jquery.tweet.js" charset="utf-8"></script>

<script type="text/javascript">
jQuery(function($){
    $("#ticker").tweet({
refresh_interval: 360000,
      username: "orobix",
      page: 1,
      count: 6,
      loading_text: ""
    }).bind("loaded", function() {
      var ul = $(this).find(".tweet_list");
      var ticker = function() {
        setTimeout(function() {
          ul.find('li:first').animate( {marginTop: '-4em'}, 0, function() {
            $(this).detach().appendTo(ul).removeAttr('style');
          });
          ticker();
        }, 7000);
      };
      ticker();
    });
  });
    
var _gaq = _gaq || [];
_gaq.push(['_setAccount', 'UA-12960044-1']);
_gaq.push(['_setDomainName', 'orobix.com']);
_gaq.push(['_trackPageview']);

(function() {
  var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
  ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
  var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
})();      

  </script>
</head>

<body>
<div class="page_main">
  <div class="page_header_home">
       <div class="headerlinkscontainer">
            <a class="header_links" id="index1" href="/index.html">Home &raquo;</a>
            <a class="header_links" id="work1" href="/Work">Work &raquo;</a>
            <a class="header_links" id="projects1" href="/Projects">Projects &raquo;</a>
            <a class="header_links" id="company1" href="/Company">Company &raquo;</a>
            <a class="header_links" id="contactus1" href="/ContactUs">Contact us &raquo;</a>
        </div>
        <div class="language_link_container">
             <a href="/{{page.title_ita}}">ita</a>
        </div><br>
  </div>

        <div  class="page_body">
	<div class="englishlanguage"></div>
          {{ content }}
        </div>

<div class="page_footer">
      	<div id="work" class="menuitem">
	<a href="/Work">Work &raquo;</a>
	<h3>Our solutions</h3>
      	</div>
	<div id="projects" class="menuitem">
	<a href="/Projects">Projects &raquo;</a>
	<h3>Internal developments</h3>
	</div>
	<div id="company" class="menuitem">
	<a href="/Company">Company &raquo;</a>
	<h3>Who we are and what we do</h3>
	</div>
	<div id="contactus" class="menuitem_last">
	<a href="/ContactUs">Contact us &raquo;</a>
	<h3>Get in touch</h3>
	</div>
	<div class="home_info">OROBIX Srl VAT No IT 03595750161 &nbsp;&nbsp;&nbsp;</div>
</div>
</div>

</body>
</html>
